In [1]:
import great_expectations as gx

ModuleNotFoundError: No module named 'great_expectations'

In [ ]:
import great_expectations as gx
from ipython import display

# Create a Data Context
context = gx.get_context()

# Create a Checkpoint
checkpoint = context.add_checkpoint(
    name="My Checkpoint",
    validations=[
        {
            "batch_request": {
                "datasource_name": "my_datasource",
                "data_asset_name": "my_dataset",
            },
            "expectation_suite_name": "my_expectations",
        }
    ],
)

# Run the Checkpoint
results = checkpoint.run()

# Display the Validation Results
display(results)

In [7]:
gx.__version__

'0.18.13'

In [13]:
from IPython.display import display

In [14]:
!python --version

Python 3.12.4

In [15]:
ls -l

 Volume in drive C has no label.
 Volume Serial Number is E2D7-8160

 Directory of c:\Users\User\juypter\gx

File Not Found

In [16]:
!ls -l great_expectations

'ls' is not recognized as an internal or external command,
operable program or batch file.

In [17]:
context = gx.get_context

In [18]:
context

<function great_expectations.data_context.data_context.context_factory.get_context(project_config: 'DataContextConfig | Mapping | None' = None, context_root_dir: 'PathStr | None' = None, project_root_dir: 'PathStr | None' = None, runtime_environment: 'dict | None' = None, cloud_base_url: 'str | None' = None, cloud_access_token: 'str | None' = None, cloud_organization_id: 'str | None' = None, cloud_mode: 'bool | None' = None, mode: 'ContextModes | None' = None) -> 'AbstractDataContext'>

In [19]:
ls -l

 Volume in drive C has no label.
 Volume Serial Number is E2D7-8160

 Directory of c:\Users\User\juypter\gx

File Not Found

In [20]:
import pandas as pd
import great_expectations as gx

In [21]:
source_url = r"C:\Users\User\juypter\files\titanic.csv"

In [22]:
df = pd.read_csv(source_url)
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [23]:
df1 = gx.read_csv(source_url)
df1.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [24]:
df1.expect_column_to_exist('fare')

{
  "success": true,
  "result": {},
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [26]:
df1.expect_column_values_to_be_null("fare")

{
  "success": false,
  "result": {
    "element_count": 891,
    "unexpected_count": 891,
    "unexpected_percent": 100.0,
    "unexpected_percent_total": 100.0,
    "partial_unexpected_list": []
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [28]:
!pip show pyspark

Name: pyspark
Version: 3.5.1
Summary: Apache Spark Python API
Home-page: https://github.com/apache/spark/tree/master/python
Author: Spark Developers
Author-email: dev@spark.apache.org
License: http://www.apache.org/licenses/LICENSE-2.0
Location: C:\Users\User\AppData\Local\Programs\Python\Python312\Lib\site-packages
Requires: py4j
Required-by:

In [1]:
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.appName("MyPySparkApp").getOrCreate()

# Read the CSV file
df5 = spark.read.csv(r'C:\Users\User\juypter\files\titanic.csv', header=True, inferSchema=True)
df5.show()

+--------+------+------+----+-----+-----+-------+--------+------+-----+----------+----+-----------+-----+-----+
|survived|pclass|   sex| age|sibsp|parch|   fare|embarked| class|  who|adult_male|deck|embark_town|alive|alone|
+--------+------+------+----+-----+-----+-------+--------+------+-----+----------+----+-----------+-----+-----+
|       0|     3|  male|22.0|    1|    0|   7.25|       S| Third|  man|      true|null|Southampton|   no|false|
|       1|     1|female|38.0|    1|    0|71.2833|       C| First|woman|     false|   C|  Cherbourg|  yes|false|
|       1|     3|female|26.0|    0|    0|  7.925|       S| Third|woman|     false|null|Southampton|  yes| true|
|       1|     1|female|35.0|    1|    0|   53.1|       S| First|woman|     false|   C|Southampton|  yes|false|
|       0|     3|  male|35.0|    0|    0|   8.05|       S| Third|  man|      true|null|Southampton|   no| true|
|       0|     3|  male|null|    0|    0| 8.4583|       Q| Third|  man|      true|null| Queenstown|   no| true|
|       0|     1|  male|54.0|    0|    0|51.8625|       S| First|  man|      true|   E|Southampton|   no| true|
|       0|     3|  male| 2.0|    3|    1| 21.075|       S| Third|child|     false|null|Southampton|   no|false|
|       1|     3|female|27.0|    0|    2|11.1333|       S| Third|woman|     false|null|Southampton|  yes|false|
|       1|     2|female|14.0|    1|    0|30.0708|       C|Second|child|     false|null|  Cherbourg|  yes|false|
|       1|     3|female| 4.0|    1|    1|   16.7|       S| Third|child|     false|   G|Southampton|  yes|false|
|       1|     1|female|58.0|    0|    0|  26.55|       S| First|woman|     false|   C|Southampton|  yes| true|
|       0|     3|  male|20.0|    0|    0|   8.05|       S| Third|  man|      true|null|Southampton|   no| true|
|       0|     3|  male|39.0|    1|    5| 31.275|       S| Third|  man|      true|null|Southampton|   no|false|
|       0|     3|female|14.0|    0|    0| 7.8542|       S| Third|child|     false|null|Southampton|   no| true|
|       1|     2|female|55.0|    0|    0|   16.0|       S|Second|woman|     false|null|Southampton|  yes| true|
|       0|     3|  male| 2.0|    4|    1| 29.125|       Q| Third|child|     false|null| Queenstown|   no|false|
|       1|     2|  male|null|    0|    0|   13.0|       S|Second|  man|      true|null|Southampton|  yes| true|
|       0|     3|female|31.0|    1|    0|   18.0|       S| Third|woman|     false|null|Southampton|   no|false|
|       1|     3|female|null|    0|    0|  7.225|       C| Third|woman|     false|null|  Cherbourg|  yes| true|
+--------+------+------+----+-----+-----+-------+--------+------+-----+----------+----+-----------+-----+-----+
only showing top 20 rows