In [1]:
import pandas as pd
import numpy as np
weather_data = [
        ('google',27.82,87,345,'lary page'),
        ('wallmart',4.61,484,65, None),
        ('msft',-1,85,64,'Bill gates'),
        ('Ril',None,50,1023,'Mukesh ambani'),
        ('Tata',5.6,-1,None,'Ratan tata'),
        ('infosys',7.7,8,None,'Narayan murthy')
]       
df1 = pd.DataFrame(weather_data,columns=["tickers","eps","revenue","price","people"])

df1

    tickers    eps  revenue   price          people
0    google  27.82       87   345.0       lary page
1  wallmart   4.61      484    65.0            None
2      msft  -1.00       85    64.0      Bill gates
3       Ril    NaN       50  1023.0   Mukesh ambani
4      Tata   5.60       -1     NaN      Ratan tata
5   infosys   7.70        8     NaN  Narayan murthy

In [2]:
weather_data["price"].fillna("not avilable",inplace=True)
weather_data

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\IPython\core\interactiveshell.py", line 3526, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Pc\AppData\Local\Temp\ipykernel_14912\3516682294.py", line 1, in <module>
    weather_data["price"].fillna("not avilable",inplace=True)
    ~~~~~~~~~~~~^^^^^^^^^
TypeError: list indices must be integers or slices, not str

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\IPython\core\interactiveshell.py", line 2120, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
                          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
                  ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
    ^^^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
           ^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\stack_data\utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
             ^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\stack_data\utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
                   ^^^^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\stack_data\utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
                             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
                      ^^^^^^^^^^^^
AttributeError: 'Source' object has no attribute 'asttext'

In [3]:
# add new to column to dataframe

df1.insert(5,"new col",['Ganesh','mahesh','shivani','chaya','swati','surekha'])
df1

    tickers    eps  revenue   price          people  new col
0    google  27.82       87   345.0       lary page   Ganesh
1  wallmart   4.61      484    65.0            None   mahesh
2      msft  -1.00       85    64.0      Bill gates  shivani
3       Ril    NaN       50  1023.0   Mukesh ambani    chaya
4      Tata   5.60       -1     NaN      Ratan tata    swati
5   infosys   7.70        8     NaN  Narayan murthy  surekha

In [4]:
df = pd.DataFrame({'height': [1.5, 2.6], 'weight': [500, 800]},
                  index=['elk', 'moose'])
df

       height  weight
elk       1.5     500
moose     2.6     800

In [5]:


df[['height','weight']] +1.5
df

       height  weight
elk       1.5     500
moose     2.6     800

In [1]:
import pandas as pd

df = pd.read_csv('data.csv')
df

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\IPython\core\interactiveshell.py", line 3526, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Pc\AppData\Local\Temp\ipykernel_7148\384485691.py", line 3, in <module>
    df = pd.read_csv('data.csv')
         ^^^^^^^^^^^^^^^^^^^^^^^
  File "e:\anaconda\Lib\site-packages\pandas\io\parsers\readers.py", line 912, in read_csv
    return _read(filepath_or_buffer, kwds)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "e:\anaconda\Lib\site-packages\pandas\io\parsers\readers.py", line 577, in _read
    parser = TextFileReader(filepath_or_buffer, **kwds)
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "e:\anaconda\Lib\site-packages\pandas\io\parsers\readers.py", line 1407, in __init__
    self._engine = self._make_engine(f, self.engine)
                   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "e:\anaconda\Lib\site-packages\pandas\io\parsers\readers.py", line 1661, in _make_engine
    self.handles = get_handle(
                   ^^^^^^^^^^^
  File "e:\anaconda\Lib\site-packages\pandas\io\common.py", line 859, in get_handle
    handle = open(
             ^^^^^
FileNotFoundError: [Errno 2] No such file or directory: 'data.csv'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\IPython\core\interactiveshell.py", line 2120, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
                          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
                  ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
    ^^^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
           ^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\stack_data\utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
             ^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\stack_data\utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
                   ^^^^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\stack_data\utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
                             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
                      ^^^^^^^^^^^^
AttributeError: 'Source' object has no attribute 'asttext'