In [2]:
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.appName("https://github.com/maheshkshi400/MK").getOrCreate()



data1 = [(1,'mahesh','kshirsagar','male',20,5000,'IT',2002),
         (2,'shruthi','kachave','female',30,6000,'HR',2008),
         (3,'ganesh','kenjale','male',25,7000,'FINANCE',2010),
         (4,'pooja','bhate','female',34,8000,'PAYROLL',2005),
         (5,'kamini','kadam','female',31,6000,'IT',2007),
         (6,'shivaji','nemade','male',20,8000,'IT',1004),
         (7,'shweta','lakhani','female',30,6000,'HR',1998),
         (8,'suresh','kirve','male',25,10000,'FINANCE',2011),
         (9,'shivani','jagtap',None,34,11000,'PAYROLL',2013),
         (10,'prachi','inamdar','female',30,6000,'IT',2001)]

schema1 = ['id','f_name','l_name','gender','age','salary','dept','doj']

empdf = spark.createDataFrame(data1,schema1)

empdf.show()

+---+-------+----------+------+---+------+-------+----+
| id| f_name|    l_name|gender|age|salary|   dept| doj|
+---+-------+----------+------+---+------+-------+----+
|  1| mahesh|kshirsagar|  male| 20|  5000|     IT|2002|
|  2|shruthi|   kachave|female| 30|  6000|     HR|2008|
|  3| ganesh|   kenjale|  male| 25|  7000|FINANCE|2010|
|  4|  pooja|     bhate|female| 34|  8000|PAYROLL|2005|
|  5| kamini|     kadam|female| 31|  6000|     IT|2007|
|  6|shivaji|    nemade|  male| 20|  8000|     IT|1004|
|  7| shweta|   lakhani|female| 30|  6000|     HR|1998|
|  8| suresh|     kirve|  male| 25| 10000|FINANCE|2011|
|  9|shivani|    jagtap|  NULL| 34| 11000|PAYROLL|2013|
| 10| prachi|   inamdar|female| 30|  6000|     IT|2001|
+---+-------+----------+------+---+------+-------+----+

In [3]:
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.appName("https://github.com/maheshkshi400/MK").getOrCreate()


data2=[(20,'HR'),(30,'FINANCE'),(40,'PAYROLL'),(50,'IT')]

schema2=['deptno','dept']
Dept= spark.createDataFrame(data2,schema2)
Dept.show()

+------+-------+
|deptno|   dept|
+------+-------+
|    20|     HR|
|    30|FINANCE|
|    40|PAYROLL|
|    50|     IT|
+------+-------+

In [5]:
from pyspark.sql.functions import broadcast

# Assuming 'dept' is the common column for the join
result = empdf.join(broadcast(Dept), empdf['dept'] == Dept['dept'])
result.show()

+---+-------+----------+------+---+------+-------+----+------+-------+
| id| f_name|    l_name|gender|age|salary|   dept| doj|deptno|   dept|
+---+-------+----------+------+---+------+-------+----+------+-------+
|  1| mahesh|kshirsagar|  male| 20|  5000|     IT|2002|    50|     IT|
|  2|shruthi|   kachave|female| 30|  6000|     HR|2008|    20|     HR|
|  3| ganesh|   kenjale|  male| 25|  7000|FINANCE|2010|    30|FINANCE|
|  4|  pooja|     bhate|female| 34|  8000|PAYROLL|2005|    40|PAYROLL|
|  5| kamini|     kadam|female| 31|  6000|     IT|2007|    50|     IT|
|  6|shivaji|    nemade|  male| 20|  8000|     IT|1004|    50|     IT|
|  7| shweta|   lakhani|female| 30|  6000|     HR|1998|    20|     HR|
|  8| suresh|     kirve|  male| 25| 10000|FINANCE|2011|    30|FINANCE|
|  9|shivani|    jagtap|  NULL| 34| 11000|PAYROLL|2013|    40|PAYROLL|
| 10| prachi|   inamdar|female| 30|  6000|     IT|2001|    50|     IT|
+---+-------+----------+------+---+------+-------+----+------+-------+

In [7]:
result.explain()

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- BroadcastHashJoin [dept#55], [dept#99], Inner, BuildRight, false
   :- Filter isnotnull(dept#55)
   :  +- Scan ExistingRDD[id#49L,f_name#50,l_name#51,gender#52,age#53L,salary#54L,dept#55,doj#56L]
   +- BroadcastExchange HashedRelationBroadcastMode(List(input[1, string, false]),false), [plan_id=182]
      +- Filter isnotnull(dept#99)
         +- Scan ExistingRDD[deptno#98L,dept#99]