In [14]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, ArrayType


# Create a SparkSession
spark = SparkSession.builder.appName("https://github.com/maheshkshi400/MK").getOrCreate()



# Define the data
Array_appliances = [
    ('Ganesh', ['tTV', 'AC', 'REFRIGERATOR', 'BIKE', 'OVEN']),
    ('Mukesh', ['BIKE', 'AC', 'HOME']),
    ('Shewta', ['TV', 'AC', 'REFRIGERATOR', None, 'OVEN']),
    ('Shirisha', ['TV', 'AC', 'REFRIGERATOR', 'BIKE', 'OVEN']),
    ('Veena', ['TV', 'AC', None, 'BIKE', 'OVEN'])
]

# Define schema for DataFrame
schema = StructType([
    StructField('Name', StringType(), nullable=False),
    StructField('Appliances', ArrayType(StringType()), nullable=True)
])

# Create DataFrame
df_app = spark.createDataFrame(data=Array_appliances, schema=schema)

# Show DataFrame schema and data
df_app.printSchema()
df_app.show(truncate=False)

root
 |-- Name: string (nullable = false)
 |-- Appliances: array (nullable = true)
 |    |-- element: string (containsNull = true)

+--------+-----------------------------------+
|Name    |Appliances                         |
+--------+-----------------------------------+
|Ganesh  |[tTV, AC, REFRIGERATOR, BIKE, OVEN]|
|Mukesh  |[BIKE, AC, HOME]                   |
|Shewta  |[TV, AC, REFRIGERATOR, NULL, OVEN] |
|Shirisha|[TV, AC, REFRIGERATOR, BIKE, OVEN] |
|Veena   |[TV, AC, NULL, BIKE, OVEN]         |
+--------+-----------------------------------+

In [18]:

# Explode array_type

from pyspark.sql.functions import explode, col

# Explode the Appliances column into separate rows
df2 = df_app.withColumn('Appliance', explode(col('Appliances')))

# Show the transformed DataFrame df2
df2.printSchema()
df2.show(truncate=False)

root
 |-- Name: string (nullable = false)
 |-- Appliances: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- Appliance: string (nullable = true)

+--------+-----------------------------------+------------+
|Name    |Appliances                         |Appliance   |
+--------+-----------------------------------+------------+
|Ganesh  |[tTV, AC, REFRIGERATOR, BIKE, OVEN]|tTV         |
|Ganesh  |[tTV, AC, REFRIGERATOR, BIKE, OVEN]|AC          |
|Ganesh  |[tTV, AC, REFRIGERATOR, BIKE, OVEN]|REFRIGERATOR|
|Ganesh  |[tTV, AC, REFRIGERATOR, BIKE, OVEN]|BIKE        |
|Ganesh  |[tTV, AC, REFRIGERATOR, BIKE, OVEN]|OVEN        |
|Mukesh  |[BIKE, AC, HOME]                   |BIKE        |
|Mukesh  |[BIKE, AC, HOME]                   |AC          |
|Mukesh  |[BIKE, AC, HOME]                   |HOME        |
|Shewta  |[TV, AC, REFRIGERATOR, NULL, OVEN] |TV          |
|Shewta  |[TV, AC, REFRIGERATOR, NULL, OVEN] |AC          |
|Shewta  |[TV, AC, REFRIGERATOR, NULL, OVEN] |REFRIGERATOR|
|Shewta  |[TV, AC, REFRIGERATOR, NULL, OVEN] |NULL        |
|Shewta  |[TV, AC, REFRIGERATOR, NULL, OVEN] |OVEN        |
|Shirisha|[TV, AC, REFRIGERATOR, BIKE, OVEN] |TV          |
|Shirisha|[TV, AC, REFRIGERATOR, BIKE, OVEN] |AC          |
|Shirisha|[TV, AC, REFRIGERATOR, BIKE, OVEN] |REFRIGERATOR|
|Shirisha|[TV, AC, REFRIGERATOR, BIKE, OVEN] |BIKE        |
|Shirisha|[TV, AC, REFRIGERATOR, BIKE, OVEN] |OVEN        |
|Veena   |[TV, AC, NULL, BIKE, OVEN]         |TV          |
|Veena   |[TV, AC, NULL, BIKE, OVEN]         |AC          |
+--------+-----------------------------------+------------+
only showing top 20 rows

In [7]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType

# Create a SparkSession
spark = SparkSession.builder.appName("BrandMapping").getOrCreate()

# Define the data
df_map = [
    ('Ganesh', {'TV': 'ONIDA', 'AC': 'VOLTAS', 'REFRIGERATOR': 'KENSTAR', 'BIKE': 'BAJAJ', 'OVEN': 'PHILIPS'}),
    ('Mukesh', {'BIKE': 'TVS', 'AC': 'SAMSUNG', 'HOME': 'OWN'}),
    ('Shewta', {'TV': 'TOSHIBA', 'AC': 'BONZA', 'REFRIGERATOR': 'WHIRLPOOL', 'OVEN': 'CIRIA'}),
    ('Shirisha', {'TV': 'CROMA', 'AC': 'PHILIPS', 'REFRIGERATOR': 'SAMSUNG', 'BIKE': 'HONDA', 'OVEN': 'TATA'}),
    ('Veena', {'TV': 'LAVA', 'AC': 'SHINIA', 'BIKE': 'CROY', 'OVEN': 'PANDA'})
]

# Define schema for DataFrame
schema = StructType([
    StructField('Name', StringType(), nullable=False),
    StructField('Brands', StringType(), nullable=False)
])

# Create DataFrame
df_app = spark.createDataFrame(data=df_map, schema=schema)

# Show DataFrame schema and data
df_app.printSchema()
df_app.show(truncate=False)

root
 |-- Name: string (nullable = false)
 |-- Brands: string (nullable = false)

+--------+---------------------------------------------------------------------+
|Name    |Brands                                                               |
+--------+---------------------------------------------------------------------+
|Ganesh  |{AC=VOLTAS, TV=ONIDA, REFRIGERATOR=KENSTAR, OVEN=PHILIPS, BIKE=BAJAJ}|
|Mukesh  |{AC=SAMSUNG, HOME=OWN, BIKE=TVS}                                     |
|Shewta  |{AC=BONZA, TV=TOSHIBA, REFRIGERATOR=WHIRLPOOL, OVEN=CIRIA}           |
|Shirisha|{AC=PHILIPS, TV=CROMA, REFRIGERATOR=SAMSUNG, OVEN=TATA, BIKE=HONDA}  |
|Veena   |{AC=SHINIA, TV=LAVA, OVEN=PANDA, BIKE=CROY}                          |
+--------+---------------------------------------------------------------------+

In [17]:
from pyspark.sql.functions import explode, col

# Explode the Brands column into separate rows
df2 = df_app.withColumn('Brand', explode(col('Brands')))

# Show the transformed DataFrame df2
df2.show(truncate=False)

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\IPython\core\interactiveshell.py", line 3526, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Pc\AppData\Local\Temp\ipykernel_9232\594833715.py", line 4, in <module>
    df2 = df_app.withColumn('Brand', explode(col('Brands')))
          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "e:\anaconda\Lib\site-packages\pyspark\sql\dataframe.py", line 5170, in withColumn
    return DataFrame(self._jdf.withColumn(colName, col._jc), self.sparkSession)
                     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "e:\anaconda\Lib\site-packages\py4j\java_gateway.py", line 1322, in __call__
    return_value = get_return_value(
                   ^^^^^^^^^^^^^^^^^
  File "e:\anaconda\Lib\site-packages\pyspark\errors\exceptions\captured.py", line 185, in deco
    raise converted from None
pyspark.errors.exceptions.captured.AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `Brands` cannot be resolved. Did you mean one of the following? [`Name`, `Appliances`].;
'Project [Name#102, Appliances#103, explode('Brands) AS Brand#134]
+- LogicalRDD [Name#102, Appliances#103], false


During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\IPython\core\interactiveshell.py", line 2120, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
                          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
                  ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
    ^^^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
           ^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\stack_data\utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
             ^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\stack_data\utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
                   ^^^^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\stack_data\utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
                             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
                      ^^^^^^^^^^^^
AttributeError: 'Source' object has no attribute 'asttext'

In [3]:
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.appName("https://github.com/maheshkshi400/MK").getOrCreate()

data = [(1,'mahesh',['azure','python']),(2,'Ganesh',['AWS','Java']),(3,'Prachi',['Informetica','SQL'])]

schema = ['id','name','skills']
df = spark.createDataFrame(data,schema)
df.show()
display(df)

+---+------+------------------+
| id|  name|            skills|
+---+------+------------------+
|  1|mahesh|   [azure, python]|
|  2|Ganesh|       [AWS, Java]|
|  3|Prachi|[Informetica, SQL]|
+---+------+------------------+

DataFrame[id: bigint, name: string, skills: array<string>]

In [4]:
from pyspark.sql.functions import explode,col
df1 = df.withColumn('skill',explode(col('skills'))).show()

+---+------+------------------+-----------+
| id|  name|            skills|      skill|
+---+------+------------------+-----------+
|  1|mahesh|   [azure, python]|      azure|
|  1|mahesh|   [azure, python]|     python|
|  2|Ganesh|       [AWS, Java]|        AWS|
|  2|Ganesh|       [AWS, Java]|       Java|
|  3|Prachi|[Informetica, SQL]|Informetica|
|  3|Prachi|[Informetica, SQL]|        SQL|
+---+------+------------------+-----------+

In [12]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, ArrayType


# Create a SparkSession
spark = SparkSession.builder.appName("https://github.com/maheshkshi400/MK").getOrCreate()



# Define the data
Array_appliances = [
    ('Ganesh', ['tTV', 'AC', 'REFRIGERATOR', 'BIKE', 'OVEN']),
    ('Mukesh', ['BIKE', 'AC', 'HOME']),
    ('Shewta', ['TV', 'AC', 'REFRIGERATOR', None, 'OVEN']),
    ('Shirisha', ['TV', 'AC', 'REFRIGERATOR', 'BIKE', 'OVEN']),
    ('Veena', ['TV', 'AC', None, 'BIKE', 'OVEN'])
]

# Define schema for DataFrame
schema = StructType([
    StructField('Name', StringType(), nullable=False),
    StructField('Appliances', ArrayType(StringType()), nullable=True)
])

# Create DataFrame
df_app = spark.createDataFrame(data=Array_appliances, schema=schema)

# Show DataFrame schema and data
df_app.printSchema()
df_app.show(truncate=False)

root
 |-- Name: string (nullable = false)
 |-- Appliances: array (nullable = true)
 |    |-- element: string (containsNull = true)

+--------+-----------------------------------+
|Name    |Appliances                         |
+--------+-----------------------------------+
|Ganesh  |[tTV, AC, REFRIGERATOR, BIKE, OVEN]|
|Mukesh  |[BIKE, AC, HOME]                   |
|Shewta  |[TV, AC, REFRIGERATOR, NULL, OVEN] |
|Shirisha|[TV, AC, REFRIGERATOR, BIKE, OVEN] |
|Veena   |[TV, AC, NULL, BIKE, OVEN]         |
+--------+-----------------------------------+

+--------+-----------------------------------+------------+
|Name    |Appliances                         |Appliance   |
+--------+-----------------------------------+------------+
|Ganesh  |[tTV, AC, REFRIGERATOR, BIKE, OVEN]|tTV         |
|Ganesh  |[tTV, AC, REFRIGERATOR, BIKE, OVEN]|AC          |
|Ganesh  |[tTV, AC, REFRIGERATOR, BIKE, OVEN]|REFRIGERATOR|
|Ganesh  |[tTV, AC, REFRIGERATOR, BIKE, OVEN]|BIKE        |
|Ganesh  |[tTV, AC, REFRIGERATOR, BIKE, OVEN]|OVEN        |
|Mukesh  |[BIKE, AC, HOME]                   |BIKE        |
|Mukesh  |[BIKE, AC, HOME]                   |AC          |
|Mukesh  |[BIKE, AC, HOME]                   |HOME        |
|Shewta  |[TV, AC, REFRIGERATOR, NULL, OVEN] |TV          |
|Shewta  |[TV, AC, REFRIGERATOR, NULL, OVEN] |AC          |
|Shewta  |[TV, AC, REFRIGERATOR, NULL, OVEN] |REFRIGERATOR|
|Shewta  |[TV, AC, REFRIGERATOR, NULL, OVEN] |NULL        |
|Shewta  |[TV, AC, REFRIGERATOR, NULL, OVEN] |OVEN        |
|Shirisha|[TV, AC, REFRIGERATOR, BIKE, OVEN] |TV          |
|Shirisha|[TV, AC, REFRIGERATOR, BIKE, OVEN] |AC          |
|Shirisha|[TV, AC, REFRIGERATOR, BIKE, OVEN] |REFRIGERATOR|
|Shirisha|[TV, AC, REFRIGERATOR, BIKE, OVEN] |BIKE        |
|Shirisha|[TV, AC, REFRIGERATOR, BIKE, OVEN] |OVEN        |
|Veena   |[TV, AC, NULL, BIKE, OVEN]         |TV          |
|Veena   |[TV, AC, NULL, BIKE, OVEN]         |AC          |
+--------+-----------------------------------+------------+
only showing top 20 rows