In [2]:
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.appName("https://github.com/maheshkshi400/MK").getOrCreate()


df = spark.read.format('csv').\
    option('inferschema',True).\
    option('delimiter',',').\
    option('header',True).\
    load('C:/Users/Pc/juypter/penguins.csv')

df.show()

+-------+---------+--------------+-------------+-----------------+-----------+------+
|species|   island|bill_length_mm|bill_depth_mm|flipper_length_mm|body_mass_g|   sex|
+-------+---------+--------------+-------------+-----------------+-----------+------+
| Adelie|Torgersen|          39.1|         18.7|              181|       3750|  MALE|
| Adelie|Torgersen|          39.5|         17.4|              186|       3800|FEMALE|
| Adelie|Torgersen|          40.3|         18.0|              195|       3250|FEMALE|
| Adelie|Torgersen|          null|         null|             null|       null|  null|
| Adelie|Torgersen|          36.7|         19.3|              193|       3450|FEMALE|
| Adelie|Torgersen|          39.3|         20.6|              190|       3650|  MALE|
| Adelie|Torgersen|          38.9|         17.8|              181|       3625|FEMALE|
| Adelie|Torgersen|          39.2|         19.6|              195|       4675|  MALE|
| Adelie|Torgersen|          34.1|         18.1|              193|       3475|  null|
| Adelie|Torgersen|          42.0|         20.2|              190|       4250|  null|
| Adelie|Torgersen|          37.8|         17.1|              186|       3300|  null|
| Adelie|Torgersen|          37.8|         17.3|              180|       3700|  null|
| Adelie|Torgersen|          41.1|         17.6|              182|       3200|FEMALE|
| Adelie|Torgersen|          38.6|         21.2|              191|       3800|  MALE|
| Adelie|Torgersen|          34.6|         21.1|              198|       4400|  MALE|
| Adelie|Torgersen|          36.6|         17.8|              185|       3700|FEMALE|
| Adelie|Torgersen|          38.7|         19.0|              195|       3450|FEMALE|
| Adelie|Torgersen|          42.5|         20.7|              197|       4500|  MALE|
| Adelie|Torgersen|          34.4|         18.4|              184|       3325|FEMALE|
| Adelie|Torgersen|          46.0|         21.5|              194|       4200|  MALE|
+-------+---------+--------------+-------------+-----------------+-----------+------+
only showing top 20 rows

In [1]:
# count of Records

print(df.count())

NameError: name 'df' is not defined

In [3]:
# Default partition count

print(df.rdd.getNumPartitions())

1

In [5]:
# Numbers of Records per partitions

from pyspark.sql.functions import spark_partition_id

df.withColumn("partitionId",spark_partition_id()).groupBy("island").count().show()

+---------+-----+
|   island|count|
+---------+-----+
|    Dream|  124|
|Torgersen|   52|
|   Biscoe|  168|
+---------+-----+

In [ ]:
# Repartiton the dataframe

df_6 = df.select(df.island,df.sex,df.count).repartition(6)

In [ ]:
# Default partition count

print(df_6.rdd.getNumPartitions())

In [ ]:


# Numbers of Records per partitions

from pyspark.sql.functions import spark_partition_id

df.withColumn("partitionId",spark_partition_id()).groupBy("island").count().show()