In [4]:
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.appName("https://github.com/maheshkshi400/MK").getOrCreate()

data1 = [(1,'mahesh','male',20,5000,'IT',50),
         (2,'shruthi','female',30,6000,'HR',20),
         (3,'ganesh','male',25,7000,'FINANCE',30),
         (4,'pooja','female',34,8000,'PAYROLL',40),
         (5,'kamini','female',31,6000,'IT',50)]

schema1 = ['id','name','gender','age','salary','dept','deptno']

df1 = spark.createDataFrame(data1,schema1)
df1.show()

+---+-------+------+---+------+-------+------+
| id|   name|gender|age|salary|   dept|deptno|
+---+-------+------+---+------+-------+------+
|  1| mahesh|  male| 20|  5000|     IT|    50|
|  2|shruthi|female| 30|  6000|     HR|    20|
|  3| ganesh|  male| 25|  7000|FINANCE|    30|
|  4|  pooja|female| 34|  8000|PAYROLL|    40|
|  5| kamini|female| 31|  6000|     IT|    50|
+---+-------+------+---+------+-------+------+

In [5]:
data2= [('ABC','Q1',60000),
        ('XYZ','Q1',45000),
        ('JKL','Q2',80000),
        ('STU','Q3',75000),
        ('ABC','Q2',60000),
        ('ERS','Q4',55000)]

schema=['company','Quarter','Revenue']

df2 = spark.createDataFrame(data2,schema)
df2.show()

+-------+-------+-------+
|company|Quarter|Revenue|
+-------+-------+-------+
|    ABC|     Q1|  60000|
|    XYZ|     Q1|  45000|
|    JKL|     Q2|  80000|
|    STU|     Q3|  75000|
|    ABC|     Q2|  60000|
|    ERS|     Q4|  55000|
+-------+-------+-------+

In [9]:
from pyspark.sql.functions import sum
df3= df2.groupBy('company').pivot('Quarter').sum('Revenue')
df3.show()

+-------+-----+-----+-----+-----+
|company|   Q1|   Q2|   Q3|   Q4|
+-------+-----+-----+-----+-----+
|    ERS| NULL| NULL| NULL|55000|
|    JKL| NULL|80000| NULL| NULL|
|    STU| NULL| NULL|75000| NULL|
|    XYZ|45000| NULL| NULL| NULL|
|    ABC|60000|60000| NULL| NULL|
+-------+-----+-----+-----+-----+

In [10]:
from pyspark.sql.functions import expr

df4= df3.select('company',expr("stack(4,'Q1',Q1,'Q2',Q2,'Q3',Q3,'Q4',Q4) as (Quarter,Revenue)"))
df4.show()

+-------+-------+-------+
|company|Quarter|Revenue|
+-------+-------+-------+
|    ERS|     Q1|   NULL|
|    ERS|     Q2|   NULL|
|    ERS|     Q3|   NULL|
|    ERS|     Q4|  55000|
|    JKL|     Q1|   NULL|
|    JKL|     Q2|  80000|
|    JKL|     Q3|   NULL|
|    JKL|     Q4|   NULL|
|    STU|     Q1|   NULL|
|    STU|     Q2|   NULL|
|    STU|     Q3|  75000|
|    STU|     Q4|   NULL|
|    XYZ|     Q1|  45000|
|    XYZ|     Q2|   NULL|
|    XYZ|     Q3|   NULL|
|    XYZ|     Q4|   NULL|
|    ABC|     Q1|  60000|
|    ABC|     Q2|  60000|
|    ABC|     Q3|   NULL|
|    ABC|     Q4|   NULL|
+-------+-------+-------+