In [2]:
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.appName("https://github.com/maheshkshi400/MK").getOrCreate()



data1 = [(1,'mahesh','kshirsagar','male',20,5000,'IT',50,2002),
         (2,'shruthi','kachave','female',30,6000,'HR',20,2008),
         (3,'ganesh','kenjale','male',25,7000,'FINANCE',30,2010),
         (4,'pooja','bhate','female',34,8000,'PAYROLL',40,2005),
         (5,'kamini','kadam','female',31,6000,'IT',None,2007),
         (6,'shivaji','nemade','male',20,8000,'IT',50,1004),
         (7,'shweta','lakhani','female',30,6000,'HR',20,1998),
         (8,'suresh','kirve','male',25,10000,'FINANCE',30,2011),
         (9,'shivani','jagtap',None,34,11000,'PAYROLL',40,2013),
         (10,'prachi','inamdar','female',30,6000,'IT',50,2001)]

schema1 = ['id','f_name','l_name','gender','age','salary','dept','deptno','doj']

empdf = spark.createDataFrame(data1,schema1)

empdf.show()

+---+-------+----------+------+---+------+-------+------+----+
| id| f_name|    l_name|gender|age|salary|   dept|deptno| doj|
+---+-------+----------+------+---+------+-------+------+----+
|  1| mahesh|kshirsagar|  male| 20|  5000|     IT|    50|2002|
|  2|shruthi|   kachave|female| 30|  6000|     HR|    20|2008|
|  3| ganesh|   kenjale|  male| 25|  7000|FINANCE|    30|2010|
|  4|  pooja|     bhate|female| 34|  8000|PAYROLL|    40|2005|
|  5| kamini|     kadam|female| 31|  6000|     IT|  NULL|2007|
|  6|shivaji|    nemade|  male| 20|  8000|     IT|    50|1004|
|  7| shweta|   lakhani|female| 30|  6000|     HR|    20|1998|
|  8| suresh|     kirve|  male| 25| 10000|FINANCE|    30|2011|
|  9|shivani|    jagtap|  NULL| 34| 11000|PAYROLL|    40|2013|
| 10| prachi|   inamdar|female| 30|  6000|     IT|    50|2001|
+---+-------+----------+------+---+------+-------+------+----+

In [9]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import when

# Create a SparkSession
spark = SparkSession.builder.appName("YourAppName").getOrCreate()

# Assuming empdf is your DataFrame
# Using when() function to create a new column 'designation' based on salary conditions
df1 = empdf.withColumn('designation',
                      when(empdf.salary <= 5000, "junior_consultant")
                      .when((empdf.salary > 5000) & (empdf.salary <= 8000) , "consultant")
                     
                      .otherwise("senior_consultant"))
df1.show()

+---+-------+----------+------+---+------+-------+------+----+-----------------+
| id| f_name|    l_name|gender|age|salary|   dept|deptno| doj|      designation|
+---+-------+----------+------+---+------+-------+------+----+-----------------+
|  1| mahesh|kshirsagar|  male| 20|  5000|     IT|    50|2002|junior_consultant|
|  2|shruthi|   kachave|female| 30|  6000|     HR|    20|2008|       consultant|
|  3| ganesh|   kenjale|  male| 25|  7000|FINANCE|    30|2010|       consultant|
|  4|  pooja|     bhate|female| 34|  8000|PAYROLL|    40|2005|       consultant|
|  5| kamini|     kadam|female| 31|  6000|     IT|  NULL|2007|       consultant|
|  6|shivaji|    nemade|  male| 20|  8000|     IT|    50|1004|       consultant|
|  7| shweta|   lakhani|female| 30|  6000|     HR|    20|1998|       consultant|
|  8| suresh|     kirve|  male| 25| 10000|FINANCE|    30|2011|senior_consultant|
|  9|shivani|    jagtap|  NULL| 34| 11000|PAYROLL|    40|2013|senior_consultant|
| 10| prachi|   inamdar|female| 30|  6000|     IT|    50|2001|       consultant|
+---+-------+----------+------+---+------+-------+------+----+-----------------+