In [4]:
from pyspark.sql import SparkSession

from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.appName("https://github.com/maheshkshi400/MK").getOrCreate()

# Now you can use 'spark' to perform Spark operations
# For example:
data = [("Alice", 25), ("Bob", 30), ("Charlie", 35)]
df = spark.createDataFrame(data, ["Name", "Age"])
df.show()

+-------+---+
|   Name|Age|
+-------+---+
|  Alice| 25|
|    Bob| 30|
|Charlie| 35|
+-------+---+

In [8]:
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.appName("https://github.com/maheshkshi400/MK").getOrCreate()



data1 = [(1,'mahesh','male',20,5000,'IT',50,2002),
         (2,'shruthi','female',30,6000,'HR',20,2008),
         (3,'ganesh','male',25,7000,'FINANCE',30,2010),
         (4,'pooja','female',34,8000,'PAYROLL',40,2005),
         (5,'kamini','female',31,6000,'IT',50,2007),
         (6,'shivaji','male',20,8000,'IT',50,1004),
         (7,'shweta','female',30,6000,'HR',20,1998),
         (8,'suresh','male',25,10000,'FINANCE',30,2011),
         (9,'shivani','female',34,11000,'PAYROLL',40,2013),
         (10,'prachi','female',30,6000,'IT',50,2001)]

schema1 = ['id','name','gender','age','salary','dept','deptno','doj']




df1 = spark.createDataFrame(data1,schema1)


df1.show()

+---+-------+------+---+------+-------+------+----+
| id|   name|gender|age|salary|   dept|deptno| doj|
+---+-------+------+---+------+-------+------+----+
|  1| mahesh|  male| 20|  5000|     IT|    50|2002|
|  2|shruthi|female| 30|  6000|     HR|    20|2008|
|  3| ganesh|  male| 25|  7000|FINANCE|    30|2010|
|  4|  pooja|female| 34|  8000|PAYROLL|    40|2005|
|  5| kamini|female| 31|  6000|     IT|    50|2007|
|  6|shivaji|  male| 20|  8000|     IT|    50|1004|
|  7| shweta|female| 30|  6000|     HR|    20|1998|
|  8| suresh|  male| 25| 10000|FINANCE|    30|2011|
|  9|shivani|female| 34| 11000|PAYROLL|    40|2013|
| 10| prachi|female| 30|  6000|     IT|    50|2001|
+---+-------+------+---+------+-------+------+----+