# Tuple

In [ ]:
# ordered
# change is  not allowed
# duplicate are not allowed
# store in {}
# no index

a = {1,2,3}

In [2]:
# creating tupe

t= (10,20,30,40,50)
print(t)
print(type(t))

(10, 20, 30, 40, 50)
<class 'tuple'>

In [3]:
n= t[3]
print(n)

40

In [5]:
t= (10,20,30,40,50)

s = len(t)

for i in range (s):
    print (t[i],end=" ")

10 20 30 40 50

In [7]:
t= (10,20,30,40,50)
for i in t:
    print(i,end=" ")

10 20 30 40 50

# tuple_functions

In [9]:
# min function

t= (10,20,30,40,50)

c = min(t)
print(c)

10

In [10]:
# max function
t= (10,20,30,40,50)

c = max(t)
print(c)

50

In [16]:
# count function
t= (10,20,30,40,50,10,10,10)

c = t.count(10)
print(c)

4

In [15]:
# index function
t= (10,20,30,40,50)

c = t.index(50)
print(c)

4

In [17]:
# sum function
# count function
t= (10,20,30,40,50)

c = sum(t)
print(c)

150