In [2]:
from pyspark.sql.functions import col, when, lit

In [ ]:
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.appName("https://github.com/maheshkshi400/MK").getOrCreate()


employees = spark.read.format('csv') \
    .option('inferschema', True) \
    .option('header',True)\
    .load(r'C:\Users\User\juypter\files\pyspark_1.csv')
employees.show()

In [15]:
df = spark.table("employees")
df.show()

+---+-------+------+----------+
| id|   name|salary|department|
+---+-------+------+----------+
|  1|  Alice| 60000|        IT|
|  2|    Bob| 70000|        IT|
|  3|Charlie| 80000|        IT|
|  4|  David| 55000|        HR|
|  5|    Eve| 65000|        HR|
|  6|  Frank| 75000|        HR|
|  7| George| 85000|   Finance|
|  8| Hannah| 90000|   Finance|
+---+-------+------+----------+