In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
df = pd.read_csv('Banking.csv')
df.head(5)

,Client ID,Name,Age,Location ID,Joined Bank,Banking Contact,Nationality,Occupation,Fee Structure,Loyalty Classification,...,Bank Deposits,Checking Accounts,Saving Accounts,Foreign Currency Account,Business Lending,Properties Owned,Risk Weighting,BRId,GenderId,IAId
0,IND81288,Raymond Mills,24,34324,06-05-2019,Anthony Torres,American,Safety Technician IV,High,Jade,...,1485828.64,603617.88,607332.46,12249.96,1134475.30,1,2,1,1,1
1,IND65833,Julia Spencer,23,42205,10-12-2001,Jonathan Hawkins,African,Software Consultant,High,Jade,...,641482.79,229521.37,344635.16,61162.31,2000526.10,1,3,2,1,2
2,IND47499,Stephen Murray,27,7314,25-01-2010,Anthony Berry,European,Help Desk Operator,High,Gold,...,1033401.59,652674.69,203054.35,79071.78,548137.58,1,3,3,2,3
3,IND72498,Virginia Garza,40,34594,28-03-2019,Steve Diaz,American,Geologist II,Mid,Silver,...,1048157.49,1048157.49,234685.02,57513.65,1148402.29,0,4,4,1,4
4,IND60181,Melissa Sanders,46,41269,20-07-2012,Shawn Long,American,Assistant Professor,Mid,Platinum,...,487782.53,446644.25,128351.45,30012.14,1674412.12,0,3,1,2,5

In [3]:
import pymysql
import pandas as pd
from sqlalchemy import create_engine

# ============================
# MySQL Connection
# ============================
conn = pymysql.connect(
    host='localhost',
    user='root',
    password='mahadev@9096',
    db='banking',
    port=3306
)

# SQLAlchemy engine (URL-encoded password)
engine = create_engine(
    "mysql+pymysql://root:mahadev%409096@localhost:3306/banking"
)

table_name = "banking_data"

df.to_sql(
    table_name,
    engine,
    if_exists="replace",
    index=False
)

print(f"Data inserted into table: {table_name}")

# ============================
# Read Back Sample
# ============================
result = pd.read_sql("SELECT * FROM banking_data LIMIT 5;", engine)
print(result)

Data inserted into table: banking_data
  Client ID             Name  Age  Location ID Joined Bank   Banking Contact  \
0  IND81288    Raymond Mills   24        34324  06-05-2019    Anthony Torres
1  IND65833    Julia Spencer   23        42205  10-12-2001  Jonathan Hawkins
2  IND47499   Stephen Murray   27         7314  25-01-2010     Anthony Berry
3  IND72498   Virginia Garza   40        34594  28-03-2019        Steve Diaz
4  IND60181  Melissa Sanders   46        41269  20-07-2012        Shawn Long

  Nationality            Occupation Fee Structure Loyalty Classification  ...  \
0    American  Safety Technician IV          High                   Jade  ...
1     African   Software Consultant          High                   Jade  ...
2    European    Help Desk Operator          High                   Gold  ...
3    American          Geologist II           Mid                 Silver  ...
4    American   Assistant Professor           Mid               Platinum  ...

   Bank Deposits  Checking Accounts  Saving Accounts  \
0     1485828.64          603617.88        607332.46
1      641482.79          229521.37        344635.16
2     1033401.59          652674.69        203054.35
3     1048157.49         1048157.49        234685.02
4      487782.53          446644.25        128351.45

   Foreign Currency Account  Business Lending  Properties Owned  \
0                  12249.96        1134475.30                 1
1                  61162.31        2000526.10                 1
2                  79071.78         548137.58                 1
3                  57513.65        1148402.29                 0
4                  30012.14        1674412.12                 0

   Risk Weighting  BRId  GenderId  IAId
0               2     1         1     1
1               3     2         1     2
2               3     3         2     3
3               4     4         1     4
4               3     1         2     5

[5 rows x 25 columns]

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import pymysql

db = pymysql.connect(
    host="localhost",
    user="root",
    password="mahadev@9096",
    database="customer_behavior",
    port=3306
)

cur = db.cursor()