In [24]:
import dask.dataframe as dd
import pandas as pd

In [27]:
data = dd.read_csv(r'C:\Users\User\juypter\files\loan.csv')
data

Dask DataFrame Structure:
              Loan_ID  Gender Married Dependents Education Self_Employed ApplicantIncome CoapplicantIncome LoanAmount Loan_Amount_Term Credit_History Property_Area Loan_Status
npartitions=1
               string  string  string     string    string        string           int64             int64    float64            int64          int64        string      string
                  ...     ...     ...        ...       ...           ...             ...               ...        ...              ...            ...           ...         ...
Dask Name: read_csv, 1 expression
Expr=ReadCSV(9aa71f1)

In [28]:
ddf = dd.from_pandas(data,npartitions=1)
ddf = ddf.fillna(ddf.mean())

TypeError: Input must be a pandas DataFrame or Series.

In [ ]:
print(ddf.compute())

In [23]:
data.isnull().sum()

Dask Series Structure:
npartitions=1
ApplicantIncome    int64
Self_Employed        ...
Dask Name: sum, 4 expressions
Expr=(~ NotNull(frame=ReadCSV(9aa71f1))).sum()