In [7]:
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.appName("https://github.com/maheshkshi400/MK").getOrCreate()


data_student= [('mahesh','Male','Physics',80,'P',90),
               ('mahesh','Male','chemistry',67,'P',90),
               ('mahesh','Male','Mathematics',67,'P',90),
               ('Shruthi','Female','Physics',60,'P',86),
               ('shruthi','female','Chemistry',67,'P',86),
               ('shruthi','female','Mathematics',52,'P',86),
               ('Prachi','female','Physics',72,'P',72),
               ('Prachi','female','chemistry',80,'P',72),
               ('Prachi','female','Mathematics',90,'P',72),
               ('Vaishanavi','female','Physics',50,'P',70),
               ('Vaishanavi','female','chemistry',86,'P',70),
               ('Vaishanavi','female','Mathematics',70,'P',70),
               ('Avanti','female','Physics',77,'P',90),
               ('Avanti','female','Chemistry',95,'P',90),
               ('Avanti','female','Mathematics',78,'P',90)]

            

schema1 = ['name','gender','subject','mark','status','attendance']

studf = spark.createDataFrame(data=data_student,schema=schema1)

studf.show()

+----------+------+-----------+----+------+----------+
|      name|gender|    subject|mark|status|attendance|
+----------+------+-----------+----+------+----------+
|    mahesh|  Male|    Physics|  80|     P|        90|
|    mahesh|  Male|  chemistry|  67|     P|        90|
|    mahesh|  Male|Mathematics|  67|     P|        90|
|   Shruthi|Female|    Physics|  60|     P|        86|
|   shruthi|female|  Chemistry|  67|     P|        86|
|   shruthi|female|Mathematics|  52|     P|        86|
|    Prachi|female|    Physics|  72|     P|        72|
|    Prachi|female|  chemistry|  80|     P|        72|
|    Prachi|female|Mathematics|  90|     P|        72|
|Vaishanavi|female|    Physics|  50|     P|        70|
|Vaishanavi|female|  chemistry|  86|     P|        70|
|Vaishanavi|female|Mathematics|  70|     P|        70|
|    Avanti|female|    Physics|  77|     P|        90|
|    Avanti|female|  Chemistry|  95|     P|        90|
|    Avanti|female|Mathematics|  78|     P|        90|
+----------+------+-----------+----+------+----------+

In [8]:
# Create rank within each group of name

from pyspark.sql.window import Window
from pyspark.sql.functions import col,row_number

windowdept = Window.partitionBy('name').orderBy(col('mark').desc())

df2 = studf.withColumn('row',row_number().over(windowdept)).orderBy('name','row')
df2.show()

+----------+------+-----------+----+------+----------+---+
|      name|gender|    subject|mark|status|attendance|row|
+----------+------+-----------+----+------+----------+---+
|    Avanti|female|  Chemistry|  95|     P|        90|  1|
|    Avanti|female|Mathematics|  78|     P|        90|  2|
|    Avanti|female|    Physics|  77|     P|        90|  3|
|    Prachi|female|Mathematics|  90|     P|        72|  1|
|    Prachi|female|  chemistry|  80|     P|        72|  2|
|    Prachi|female|    Physics|  72|     P|        72|  3|
|   Shruthi|Female|    Physics|  60|     P|        86|  1|
|Vaishanavi|female|  chemistry|  86|     P|        70|  1|
|Vaishanavi|female|Mathematics|  70|     P|        70|  2|
|Vaishanavi|female|    Physics|  50|     P|        70|  3|
|    mahesh|  Male|    Physics|  80|     P|        90|  1|
|    mahesh|  Male|  chemistry|  67|     P|        90|  2|
|    mahesh|  Male|Mathematics|  67|     P|        90|  3|
|   shruthi|female|  Chemistry|  67|     P|        86|  1|
|   shruthi|female|Mathematics|  52|     P|        86|  2|
+----------+------+-----------+----+------+----------+---+

In [9]:
# get top N rows per group of name

df3 = df2.filter(col("row") <= 1)
df3.show()

+----------+------+-----------+----+------+----------+---+
|      name|gender|    subject|mark|status|attendance|row|
+----------+------+-----------+----+------+----------+---+
|    Avanti|female|  Chemistry|  95|     P|        90|  1|
|    Prachi|female|Mathematics|  90|     P|        72|  1|
|   Shruthi|Female|    Physics|  60|     P|        86|  1|
|Vaishanavi|female|  chemistry|  86|     P|        70|  1|
|    mahesh|  Male|    Physics|  80|     P|        90|  1|
|   shruthi|female|  Chemistry|  67|     P|        86|  1|
+----------+------+-----------+----+------+----------+---+

In [10]:
# create rank within each grop of subject

windowdept = Window.partitionBy('subject').orderBy(col('mark').desc())

df4 = studf.withColumn('row',row_number().over(windowdept)).orderBy('name','row')
df4.show()

+----------+------+-----------+----+------+----------+---+
|      name|gender|    subject|mark|status|attendance|row|
+----------+------+-----------+----+------+----------+---+
|    Avanti|female|  Chemistry|  95|     P|        90|  1|
|    Avanti|female|Mathematics|  78|     P|        90|  2|
|    Avanti|female|    Physics|  77|     P|        90|  2|
|    Prachi|female|Mathematics|  90|     P|        72|  1|
|    Prachi|female|  chemistry|  80|     P|        72|  2|
|    Prachi|female|    Physics|  72|     P|        72|  3|
|   Shruthi|Female|    Physics|  60|     P|        86|  4|
|Vaishanavi|female|  chemistry|  86|     P|        70|  1|
|Vaishanavi|female|Mathematics|  70|     P|        70|  3|
|Vaishanavi|female|    Physics|  50|     P|        70|  5|
|    mahesh|  Male|    Physics|  80|     P|        90|  1|
|    mahesh|  Male|  chemistry|  67|     P|        90|  3|
|    mahesh|  Male|Mathematics|  67|     P|        90|  4|
|   shruthi|female|  Chemistry|  67|     P|        86|  2|
|   shruthi|female|Mathematics|  52|     P|        86|  5|
+----------+------+-----------+----+------+----------+---+

In [12]:
# get top N rows per group of name

df5 = df4.filter(col("row") <= 1)
df5.show()

+----------+------+-----------+----+------+----------+---+
|      name|gender|    subject|mark|status|attendance|row|
+----------+------+-----------+----+------+----------+---+
|    Avanti|female|  Chemistry|  95|     P|        90|  1|
|    Prachi|female|Mathematics|  90|     P|        72|  1|
|Vaishanavi|female|  chemistry|  86|     P|        70|  1|
|    mahesh|  Male|    Physics|  80|     P|        90|  1|
+----------+------+-----------+----+------+----------+---+

In [14]:
# create rank within each grop of subject

windowdept = Window.partitionBy('subject').orderBy(col('mark'))

df6 = studf.withColumn('row',row_number().over(windowdept)).orderBy('name','row')
df6.show()

+----------+------+-----------+----+------+----------+---+
|      name|gender|    subject|mark|status|attendance|row|
+----------+------+-----------+----+------+----------+---+
|    Avanti|female|  Chemistry|  95|     P|        90|  2|
|    Avanti|female|Mathematics|  78|     P|        90|  4|
|    Avanti|female|    Physics|  77|     P|        90|  4|
|    Prachi|female|  chemistry|  80|     P|        72|  2|
|    Prachi|female|    Physics|  72|     P|        72|  3|
|    Prachi|female|Mathematics|  90|     P|        72|  5|
|   Shruthi|Female|    Physics|  60|     P|        86|  2|
|Vaishanavi|female|    Physics|  50|     P|        70|  1|
|Vaishanavi|female|Mathematics|  70|     P|        70|  3|
|Vaishanavi|female|  chemistry|  86|     P|        70|  3|
|    mahesh|  Male|  chemistry|  67|     P|        90|  1|
|    mahesh|  Male|Mathematics|  67|     P|        90|  2|
|    mahesh|  Male|    Physics|  80|     P|        90|  5|
|   shruthi|female|  Chemistry|  67|     P|        86|  1|
|   shruthi|female|Mathematics|  52|     P|        86|  1|
+----------+------+-----------+----+------+----------+---+

In [15]:
# get top N rows per group of name

df7 = df6.filter(col("row") <= 1)
df5.show()

+----------+------+-----------+----+------+----------+---+
|      name|gender|    subject|mark|status|attendance|row|
+----------+------+-----------+----+------+----------+---+
|    Avanti|female|  Chemistry|  95|     P|        90|  1|
|    Prachi|female|Mathematics|  90|     P|        72|  1|
|Vaishanavi|female|  chemistry|  86|     P|        70|  1|
|    mahesh|  Male|    Physics|  80|     P|        90|  1|
+----------+------+-----------+----+------+----------+---+