In [2]:
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.appName("https://github.com/maheshkshi400/MK").getOrCreate()


df = spark.read.format('csv').\
    option('inferschema',True).\
    option('delimiter',',').\
    option('header',True).\
    load('C:/Users/Pc/juypter/empdf12.csv')

df.show()

+---+-----------------+------+----+------+-------+------+---------+
| id|             name|gender| age|salary|   dept|deptno|      doj|
+---+-----------------+------+----+------+-------+------+---------+
|  1|Mahesh Kshirsagar|  male|  20|  5000|     IT|    50|19-4-2011|
|  2|   Shruthi Sharma|female|None|  6000|     HR|  NULL|20-5-2007|
|  3|   Ganesh Kenjale|  male|  25|  NULL|FINANCE|    30|     NULL|
|  4|    Pooja Chandra|female|NULL|  8000|PAYROLL|    40|14-4-1998|
|  5|     kamini sinha|female|  31|  6000|     IT|    50|20-5-2002|
|  6|        Rahul Roy|  NULL|  28|  NULL|   NULL|    10|31-8-2015|
|  7|    Shweta Tiwari|female|  30|  6000|     HR|    20|     NULL|
|  8|   suresh Katwani|  NULL|  25| 10000|FINANCE|    30|22-3-2007|
|  9|             NULL|  NULL|NULL|  NULL|   NULL|  NULL|     NULL|
| 10|   prachi Inamdar|female|  30|  6000|   NULL|    50|     NULL|
+---+-----------------+------+----+------+-------+------+---------+

In [3]:
from pyspark.sql.functions import count,col,when

result =df.select([count(when(col(c).isNull(),c)).alias(c) for c in df.columns])
result.show()

+---+----+------+---+------+----+------+---+
| id|name|gender|age|salary|dept|deptno|doj|
+---+----+------+---+------+----+------+---+
|  0|   1|     3|  2|     3|   3|     2|  4|
+---+----+------+---+------+----+------+---+