In [4]:
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.appName("MK").getOrCreate()



data1 = [(1,'mahesh','kshirsagar','male',20,5000,'IT',50,2002),
         (2,'shruthi','kachave','female',30,6000,'HR',20,2008),
         (3,'ganesh','kenjale','male',25,7000,'FINANCE',30,2010),
         (4,'pooja','bhate','female',34,8000,'PAYROLL',40,2005),
         (5,'kamini','kadam','female',31,6000,'IT',None,2007),
         (6,'shivaji','nemade','male',20,8000,'IT',50,1004),
         (7,'shweta','lakhani','female',30,6000,'HR',20,1998),
         (8,'suresh','kirve','male',25,10000,'FINANCE',30,2011),
         (9,'shivani','jagtap',None,34,11000,'PAYROLL',40,2013),
         (10,'prachi','inamdar','female',30,6000,'IT',50,2001)]

schema1 = ['id','f_name','l_name','gender','age','salary','dept','deptno','doj']

empdf = spark.createDataFrame(data1,schema1)

empdf.show()

RuntimeError: Java gateway process exited before sending its port number

In [3]:
from pyspark.sql.functions import current_timestamp
df1=empdf.withColumn("Timestamp",current_timestamp())
df1.show()

+---+-------+----------+------+---+------+-------+------+----+--------------------+
| id| f_name|    l_name|gender|age|salary|   dept|deptno| doj|           Timestamp|
+---+-------+----------+------+---+------+-------+------+----+--------------------+
|  1| mahesh|kshirsagar|  male| 20|  5000|     IT|    50|2002|2023-12-08 18:57:...|
|  2|shruthi|   kachave|female| 30|  6000|     HR|    20|2008|2023-12-08 18:57:...|
|  3| ganesh|   kenjale|  male| 25|  7000|FINANCE|    30|2010|2023-12-08 18:57:...|
|  4|  pooja|     bhate|female| 34|  8000|PAYROLL|    40|2005|2023-12-08 18:57:...|
|  5| kamini|     kadam|female| 31|  6000|     IT|  NULL|2007|2023-12-08 18:57:...|
|  6|shivaji|    nemade|  male| 20|  8000|     IT|    50|1004|2023-12-08 18:57:...|
|  7| shweta|   lakhani|female| 30|  6000|     HR|    20|1998|2023-12-08 18:57:...|
|  8| suresh|     kirve|  male| 25| 10000|FINANCE|    30|2011|2023-12-08 18:57:...|
|  9|shivani|    jagtap|  NULL| 34| 11000|PAYROLL|    40|2013|2023-12-08 18:57:...|
| 10| prachi|   inamdar|female| 30|  6000|     IT|    50|2001|2023-12-08 18:57:...|
+---+-------+----------+------+---+------+-------+------+----+--------------------+

In [10]:
from pyspark.sql.functions import current_timestamp
df2=empdf.withColumnRenamed("salary","emp_salary")
df2.show()

+---+-------+------+---+----------+-------+------+----+
| id|   name|gender|age|emp_salary|   dept|deptno| doj|
+---+-------+------+---+----------+-------+------+----+
|  1| mahesh|  male| 20|      5000|     IT|    50|2002|
|  2|shruthi|female| 30|      6000|     HR|    20|2008|
|  3| ganesh|  male| 25|      7000|FINANCE|    30|2010|
|  4|  pooja|female| 34|      8000|PAYROLL|    40|2005|
|  5| kamini|female| 31|      6000|     IT|  NULL|2007|
|  6|shivaji|  male| 20|      8000|     IT|    50|1004|
|  7| shweta|female| 30|      6000|     HR|    20|1998|
|  8| suresh|  male| 25|     10000|FINANCE|    30|2011|
|  9|shivani|  NULL| 34|     11000|PAYROLL|    40|2013|
| 10| prachi|female| 30|      6000|     IT|    50|2001|
+---+-------+------+---+----------+-------+------+----+

In [12]:
df3=empdf.drop("Timestamp")
df3.show()

+---+-------+------+---+------+-------+------+----+
| id|   name|gender|age|salary|   dept|deptno| doj|
+---+-------+------+---+------+-------+------+----+
|  1| mahesh|  male| 20|  5000|     IT|    50|2002|
|  2|shruthi|female| 30|  6000|     HR|    20|2008|
|  3| ganesh|  male| 25|  7000|FINANCE|    30|2010|
|  4|  pooja|female| 34|  8000|PAYROLL|    40|2005|
|  5| kamini|female| 31|  6000|     IT|  NULL|2007|
|  6|shivaji|  male| 20|  8000|     IT|    50|1004|
|  7| shweta|female| 30|  6000|     HR|    20|1998|
|  8| suresh|  male| 25| 10000|FINANCE|    30|2011|
|  9|shivani|  NULL| 34| 11000|PAYROLL|    40|2013|
| 10| prachi|female| 30|  6000|     IT|    50|2001|
+---+-------+------+---+------+-------+------+----+

In [14]:
from pyspark.sql.functions import lit
df4=empdf.withColumn("location",lit("INDIA"))
df4.show()

+---+-------+------+---+------+-------+------+----+--------+
| id|   name|gender|age|salary|   dept|deptno| doj|location|
+---+-------+------+---+------+-------+------+----+--------+
|  1| mahesh|  male| 20|  5000|     IT|    50|2002|   INDIA|
|  2|shruthi|female| 30|  6000|     HR|    20|2008|   INDIA|
|  3| ganesh|  male| 25|  7000|FINANCE|    30|2010|   INDIA|
|  4|  pooja|female| 34|  8000|PAYROLL|    40|2005|   INDIA|
|  5| kamini|female| 31|  6000|     IT|  NULL|2007|   INDIA|
|  6|shivaji|  male| 20|  8000|     IT|    50|1004|   INDIA|
|  7| shweta|female| 30|  6000|     HR|    20|1998|   INDIA|
|  8| suresh|  male| 25| 10000|FINANCE|    30|2011|   INDIA|
|  9|shivani|  NULL| 34| 11000|PAYROLL|    40|2013|   INDIA|
| 10| prachi|female| 30|  6000|     IT|    50|2001|   INDIA|
+---+-------+------+---+------+-------+------+----+--------+

In [31]:
from pyspark.sql.functions import concat,lit
df5=empdf.withColumn("Bbonus",empdf.salary*0.2).withColumn("Full_name",concat("f_name" ,lit(" "),"l_name"))
df5.show()

+---+-------+----------+------+---+------+-------+------+----+------+-----------------+
| id| f_name|    l_name|gender|age|salary|   dept|deptno| doj|Bbonus|        Full_name|
+---+-------+----------+------+---+------+-------+------+----+------+-----------------+
|  1| mahesh|kshirsagar|  male| 20|  5000|     IT|    50|2002|1000.0|mahesh kshirsagar|
|  2|shruthi|   kachave|female| 30|  6000|     HR|    20|2008|1200.0|  shruthi kachave|
|  3| ganesh|   kenjale|  male| 25|  7000|FINANCE|    30|2010|1400.0|   ganesh kenjale|
|  4|  pooja|     bhate|female| 34|  8000|PAYROLL|    40|2005|1600.0|      pooja bhate|
|  5| kamini|     kadam|female| 31|  6000|     IT|  NULL|2007|1200.0|     kamini kadam|
|  6|shivaji|    nemade|  male| 20|  8000|     IT|    50|1004|1600.0|   shivaji nemade|
|  7| shweta|   lakhani|female| 30|  6000|     HR|    20|1998|1200.0|   shweta lakhani|
|  8| suresh|     kirve|  male| 25| 10000|FINANCE|    30|2011|2000.0|     suresh kirve|
|  9|shivani|    jagtap|  NULL| 34| 11000|PAYROLL|    40|2013|2200.0|   shivani jagtap|
| 10| prachi|   inamdar|female| 30|  6000|     IT|    50|2001|1200.0|   prachi inamdar|
+---+-------+----------+------+---+------+-------+------+----+------+-----------------+