In [1]:
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.appName("https://github.com/maheshkshi400/MK").getOrCreate()


df = spark.read.format('csv') \
    .option('inferschema', True) \
    .option('header',True)\
    .load('C:/Users/Pc/juypter/empdf12.csv')
df.show()

+---+-----------------+------+----+------+-------+------+---------+
| id|             name|gender| age|salary|   dept|deptno|      doj|
+---+-----------------+------+----+------+-------+------+---------+
|  1|Mahesh Kshirsagar|  male|  20|  5000|     IT|    50|19-4-2011|
|  2|   Shruthi Sharma|female|None|  6000|     HR|  NULL|20-5-2007|
|  3|   Ganesh Kenjale|  male|  25|  NULL|FINANCE|    30|     NULL|
|  4|    Pooja Chandra|female|NULL|  8000|PAYROLL|    40|14-4-1998|
|  5|     kamini sinha|female|  31|  6000|     IT|    50|20-5-2002|
|  6|        Rahul Roy|  NULL|  28|  NULL|   NULL|    10|31-8-2015|
|  7|    Shweta Tiwari|female|  30|  6000|     HR|    20|     NULL|
|  8|   suresh Katwani|  NULL|  25| 10000|FINANCE|    30|22-3-2007|
|  9|             NULL|  NULL|NULL|  NULL|   NULL|  NULL|     NULL|
| 10|   prachi Inamdar|female|  30|  6000|   NULL|    50|     NULL|
+---+-----------------+------+----+------+-------+------+---------+

In [2]:
d1 = df.na.drop()      # "any","all","subset=col1,col2"
d1.show()

+---+-----------------+------+---+------+----+------+---------+
| id|             name|gender|age|salary|dept|deptno|      doj|
+---+-----------------+------+---+------+----+------+---------+
|  1|Mahesh Kshirsagar|  male| 20|  5000|  IT|    50|19-4-2011|
|  5|     kamini sinha|female| 31|  6000|  IT|    50|20-5-2002|
+---+-----------------+------+---+------+----+------+---------+

In [5]:
d2 = df.na.fill(value=6000,subset=["salary"])
d2.show()

+---+-----------------+------+----+------+-------+------+---------+
| id|             name|gender| age|salary|   dept|deptno|      doj|
+---+-----------------+------+----+------+-------+------+---------+
|  1|Mahesh Kshirsagar|  male|  20|  5000|     IT|    50|19-4-2011|
|  2|   Shruthi Sharma|female|None|  6000|     HR|  NULL|20-5-2007|
|  3|   Ganesh Kenjale|  male|  25|  6000|FINANCE|    30|     NULL|
|  4|    Pooja Chandra|female|NULL|  8000|PAYROLL|    40|14-4-1998|
|  5|     kamini sinha|female|  31|  6000|     IT|    50|20-5-2002|
|  6|        Rahul Roy|  NULL|  28|  6000|   NULL|    10|31-8-2015|
|  7|    Shweta Tiwari|female|  30|  6000|     HR|    20|     NULL|
|  8|   suresh Katwani|  NULL|  25| 10000|FINANCE|    30|22-3-2007|
|  9|             NULL|  NULL|NULL|  6000|   NULL|  NULL|     NULL|
| 10|   prachi Inamdar|female|  30|  6000|   NULL|    50|     NULL|
+---+-----------------+------+----+------+-------+------+---------+

In [6]:
d3 = df.fillna("salary",8000)
d3.show()

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\IPython\core\interactiveshell.py", line 3526, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Pc\AppData\Local\Temp\ipykernel_7260\3234441337.py", line 1, in <module>
    d3 = df.fillna("salary",8000)
         ^^^^^^^^^^^^^^^^^^^^^^^^
  File "e:\anaconda\Lib\site-packages\pyspark\sql\dataframe.py", line 4455, in fillna
    raise PySparkTypeError(
pyspark.errors.exceptions.base.PySparkTypeError: [NOT_LIST_OR_TUPLE] Argument `subset` should be a list or tuple, got int.

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\IPython\core\interactiveshell.py", line 2120, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
                          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
                  ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
    ^^^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
           ^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\stack_data\utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
             ^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\stack_data\utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
                   ^^^^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\stack_data\utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
                             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
                      ^^^^^^^^^^^^
AttributeError: 'Source' object has no attribute 'asttext'