In [11]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

data =pd.read_csv(r"C:\Users\User\juypter\files\cardata.csv")
data.head(3)

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0

In [12]:
data.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [14]:
from sklearn.preprocessing import LabelEncoder

car_name_la = LabelEncoder()
data["Car_Name"]=car_name_la.fit_transform(data["Car_Name"])

In [15]:
 # fuel_type
 
 data["Fuel_Type"].unique()

array(['Petrol', 'Diesel', 'CNG'], dtype=object)

In [16]:
Fuel_Type_la = LabelEncoder()
data["Fuel_Type"]=Fuel_Type_la.fit_transform(data["Fuel_Type"])

In [18]:
Seller_Type_la = LabelEncoder()
data["Seller_Type"]=Seller_Type_la.fit_transform(data["Seller_Type"])

In [20]:
Transmission_la = LabelEncoder()
data["Transmission"]=Transmission_la.fit_transform(data["Transmission"])

In [22]:
data.head(3)

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,90,2014,3.35,5.59,27000,2,0,1,0
1,93,2013,4.75,9.54,43000,1,0,1,0
2,68,2017,7.25,9.85,6900,2,0,1,0

In [23]:
input_data=data[:,:2]
output_data=data["Selling_Price"]

InvalidIndexError: (slice(None, None, None), slice(None, 2, None))