In [1]:
# loading libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [4]:
dataset_train = pd.read_csv(r'C:\Users\User\juypter\files\google_stock_price.csv')
dataset_train.head(5)

         Date      Open      High       Low     Close  Adj Close     Volume
0  2004-08-19  2.490664  2.591785  2.390042  2.499133   2.499133  897427216
1  2004-08-20  2.515820  2.716817  2.503118  2.697639   2.697639  458857488
2  2004-08-23  2.758411  2.826406  2.716070  2.724787   2.724787  366857939
3  2004-08-24  2.770615  2.779581  2.579581  2.611960   2.611960  306396159
4  2004-08-25  2.614201  2.689918  2.587302  2.640104   2.640104  184645512

In [7]:
train = dataset_train.loc[:,['Open']].values
train

array([[  2.490664],
       [  2.51582 ],
       [  2.758411],
       ...,
       [133.320007],
       [131.294006],
       [130.369995]])

In [8]:
# Feature scaling 

from sklearn.preprocessing import MinMaxScaler
import pandas as pd
sc = MinMaxScaler(feature_range = (0, 1))
train_scaled = sc.fit_transform(train)
train_scaled

array([[1.35039790e-04],
       [3.03427861e-04],
       [1.92727230e-03],
       ...,
       [8.75874456e-01],
       [8.62312904e-01],
       [8.56127802e-01]])