# House Price Prediction

In [4]:
import pandas as pd
data = pd.read_csv(r'C:\Users\User\juypter\files\houseprice.csv')
data.head()

   Living Area  Bathrooms  Bedrooms  Lot Size  Age  Fireplace    Price
0        1.982        1.0         3      2.00  133          0  14.2212
1        1.676        1.5         3      0.38   14          1  13.4865
2        1.694        2.0         3      0.96   15          1  11.8007
3        1.800        1.0         2      0.48   49          1  13.8297
4        2.088        1.0         3      1.84   29          1  12.9470