write a program to swap first and fourth element

In [ ]:
A = ["Ross","Racheal","Monica","Joe"]
A[0],A[3]=A[3],A[0]
print(A)

['Joe', 'Racheal', 'Monica', 'Ross']

Write a program to add a new value at second position

In [ ]:
A = ["Ross","Racheal","Monica","Joe"]
A.insert(1,"phoebe")
print(A)

['Ross', 'phoebe', 'Racheal', 'Monica', 'Joe']

Write a program to delete value from 3rd position

In [ ]:
print(A)
A.pop(2)
print(A)

['Ross', 'phoebe', 'Racheal', 'Monica', 'Joe']
['Ross', 'phoebe', 'Monica', 'Joe']

Write a program to multiply all the numbers in the list

In [ ]:
B = [13,7,12,10]
mul = 1
for i in B:
    mul*=i
print(mul)

10920

Write a program to get the largest number from the list

In [ ]:
B = [13,7,12,10]
B.sort()
print(B)
print("The largest value in the given list is",B[-1])

[7, 10, 12, 13]
The largest value in the given list is 13

write a program get the smallest number from the list

In [1]:
B = [13,7,12,10]
B.sort()
print(B)
print("The smallest value in the given list is",B[0])

[7, 10, 12, 13]
The smallest value in the given list is 7