In [ ]:


simpleData = [(1, ["Sagar", "Prajapati"], "8125789"),  # Corrected phone number
              (2, ["Shivam", "Gupta"], "81%57894"),  # Corrected phone number
              (3, ["Kunal", "Verma"], "81757u94"),  # Corrected phone number
              (4, ["Kim", "Chou"], "8175v894")]  # Corrected phone number

columns = ["ID", "Name", "MobileNo"]  # Corrected column name

df_1 = spark.createDataFrame(data=simpleData, schema=columns)

df_1.show()

In [ ]:

import re
df = df_1.select("*").filter(col("MobileNo").rlike('^[0-9]*$')).show()