In [ ]:
from pyspark.sql.functions import col, explode

simpleData = [(1, ["Sagar", "Prajapati"]),
              (2, ["Shivam", "Gupta"]),
              (3, ["Kunal", "Verma"]),
              (4, ["Kim"])]

columns = ["ID", "Name"]

df_1 = spark.createDataFrame(data=simpleData, schema=columns)

df_1.show()

In [ ]:
df = df_1.select(col("ID"),explode(col("Name")))
df.show()