In [1]:
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.appName("https://github.com/maheshkshi400/MK").getOrCreate()

student_data= [("Ganesh",70,40,89,50,60),
               ("shankar",20,43,60,63,73),
               ("shivani",53,75,40,78,90),
               ("Manali",40,65,77,56,75),
               ("chitra",45,67,86,23,40)]

schema = ['Name','subject_1','subject_2','subject_3','subject_4','subject_5']

df = spark.createDataFrame(data=student_data,schema=schema)
df.show()

+-------+---------+---------+---------+---------+---------+
|   Name|subject_1|subject_2|subject_3|subject_4|subject_5|
+-------+---------+---------+---------+---------+---------+
| Ganesh|       70|       40|       89|       50|       60|
|shankar|       20|       43|       60|       63|       73|
|shivani|       53|       75|       40|       78|       90|
| Manali|       40|       65|       77|       56|       75|
| chitra|       45|       67|       86|       23|       40|
+-------+---------+---------+---------+---------+---------+

In [2]:
 # Gratest of columns
from pyspark.sql.functions import greatest

greatDF= df.withColumn("Greatest",greatest('subject_1','subject_2','subject_3','subject_4','subject_5'))
greatDF.show()

+-------+---------+---------+---------+---------+---------+--------+
|   Name|subject_1|subject_2|subject_3|subject_4|subject_5|Greatest|
+-------+---------+---------+---------+---------+---------+--------+
| Ganesh|       70|       40|       89|       50|       60|      89|
|shankar|       20|       43|       60|       63|       73|      73|
|shivani|       53|       75|       40|       78|       90|      90|
| Manali|       40|       65|       77|       56|       75|      77|
| chitra|       45|       67|       86|       23|       40|      86|
+-------+---------+---------+---------+---------+---------+--------+

In [3]:
 # Gratest of columns
from pyspark.sql.functions import greatest,least

leasttDF= df.withColumn("least",least('subject_1','subject_2','subject_3','subject_4','subject_5'))
leasttDF.show()

+-------+---------+---------+---------+---------+---------+-----+
|   Name|subject_1|subject_2|subject_3|subject_4|subject_5|least|
+-------+---------+---------+---------+---------+---------+-----+
| Ganesh|       70|       40|       89|       50|       60|   40|
|shankar|       20|       43|       60|       63|       73|   20|
|shivani|       53|       75|       40|       78|       90|   40|
| Manali|       40|       65|       77|       56|       75|   40|
| chitra|       45|       67|       86|       23|       40|   23|
+-------+---------+---------+---------+---------+---------+-----+

In [4]:
df.agg({'subject_1':'max'}).show()

+--------------+
|max(subject_1)|
+--------------+
|            70|
+--------------+

In [5]:
df.agg({'subject_1':'min','subject_2':'min','subject_3':'min','subject_4':'min','subject_5':'min'}).show()

+--------------+--------------+--------------+--------------+--------------+
|min(subject_1)|min(subject_3)|min(subject_4)|min(subject_2)|min(subject_5)|
+--------------+--------------+--------------+--------------+--------------+
|            20|            40|            23|            40|            40|
+--------------+--------------+--------------+--------------+--------------+