In [ ]:
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder\
    .appName("YourAppName")\
    .getOrCreate()

simpleData = [(1, "Sagar", "CSE", "UP", 80,),
              (2, "Shivam", "IT", "MP", 86,),
              (3, "Muns", "Mech", "AP", 76,)]

columns = ["ID", "Student Name", "Department_Name", "City", "Marks"]

df_1 = spark.createDataFrame(data=simpleData, schema=columns)

df_1.show()

In [ ]:
simpleData_2 = [(5, "Raj", "CSE", "HP"),
                (7, "Kunal", "Mech", "Rajasthan")]

columns = ["ID", "StudentName", "Department", "City"]

df_2 = spark.createDataFrame(data=simpleData_2, schema=columns)

df_2.show()

In [ ]:
from pyspark.sql.functions import col,lit

df_2 = df_2.withColumn("Marks",lit("null"))
df = df_1.union(df_2)
df.show()