In [1]:
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.appName("https://github.com/maheshkshi400/MK").getOrCreate()



data1 = [(1,'mahesh','male',20,5000,'IT',50),
         (2,'shruthi','female',30,6000,'HR',20),
         (3,'ganesh','male',25,7000,'FINANCE',30),
         (4,'pooja','female',34,8000,'PAYROLL',40),
         (5,'kamini','female',31,6000,'IT',50)]

schema1 = ['id','name','gender','age','salary','dept','deptno']

data2 = [(1,'shivaji','male',20,8000,'IT',50),
         (2,'shruthi','female',30,6000,'HR',20),
         (3,'suresh','male',25,10000,'FINANCE',30),
         (4,'shivani','female',34,11000,'PAYROLL',40),
         (5,'prachi','female',30,6000,'IT',50)]

schema2 = ['id','name','gender','age','salary','dept','deptno']

df1 = spark.createDataFrame(data1,schema1)
df2 = spark.createDataFrame(data2,schema2)

df1.show()
df2.show()

RuntimeError: Java gateway process exited before sending its port number

In [2]:
empdf=df1.join(df2,df1.id==df2.id,"left")
empdf.show()

NameError: name 'df1' is not defined

In [17]:
empdf=df1.join(df2,df1.id==df2.id,"right")
empdf.show()

+---+-------+------+---+------+-------+------+---+-------+------+---+------+-------+------+
| id|   name|gender|age|salary|   dept|deptno| id|   name|gender|age|salary|   dept|deptno|
+---+-------+------+---+------+-------+------+---+-------+------+---+------+-------+------+
|  1| mahesh|  male| 20|  5000|     IT|    50|  1|shivaji|  male| 20|  8000|     IT|    50|
|  2|shruthi|female| 30|  6000|     HR|    20|  2|shruthi|female| 30|  6000|     HR|    20|
|  3| ganesh|  male| 25|  7000|FINANCE|    30|  3| suresh|  male| 25| 10000|FINANCE|    30|
|  5| kamini|female| 31|  6000|     IT|    50|  5| prachi|female| 30|  6000|     IT|    50|
|  4|  pooja|female| 34|  8000|PAYROLL|    40|  4|shivani|female| 34| 11000|PAYROLL|    40|
+---+-------+------+---+------+-------+------+---+-------+------+---+------+-------+------+

In [18]:
empdf=df1.join(df2,df1.id==df2.id,"full")
empdf.show()

+---+-------+------+---+------+-------+------+---+-------+------+---+------+-------+------+
| id|   name|gender|age|salary|   dept|deptno| id|   name|gender|age|salary|   dept|deptno|
+---+-------+------+---+------+-------+------+---+-------+------+---+------+-------+------+
|  1| mahesh|  male| 20|  5000|     IT|    50|  1|shivaji|  male| 20|  8000|     IT|    50|
|  2|shruthi|female| 30|  6000|     HR|    20|  2|shruthi|female| 30|  6000|     HR|    20|
|  3| ganesh|  male| 25|  7000|FINANCE|    30|  3| suresh|  male| 25| 10000|FINANCE|    30|
|  4|  pooja|female| 34|  8000|PAYROLL|    40|  4|shivani|female| 34| 11000|PAYROLL|    40|
|  5| kamini|female| 31|  6000|     IT|    50|  5| prachi|female| 30|  6000|     IT|    50|
+---+-------+------+---+------+-------+------+---+-------+------+---+------+-------+------+

In [19]:
empdf=df1.join(df2,df1.id==df2.id,"anti")
empdf.show()

+---+----+------+---+------+----+------+
| id|name|gender|age|salary|dept|deptno|
+---+----+------+---+------+----+------+
+---+----+------+---+------+----+------+

In [20]:
empdf=df1.join(df2,df1.id==df2.id,"semi")
empdf.show()

+---+-------+------+---+------+-------+------+
| id|   name|gender|age|salary|   dept|deptno|
+---+-------+------+---+------+-------+------+
|  1| mahesh|  male| 20|  5000|     IT|    50|
|  2|shruthi|female| 30|  6000|     HR|    20|
|  3| ganesh|  male| 25|  7000|FINANCE|    30|
|  4|  pooja|female| 34|  8000|PAYROLL|    40|
|  5| kamini|female| 31|  6000|     IT|    50|
+---+-------+------+---+------+-------+------+

In [15]:
empdf=df1.join(df2,df1.id==df2.id,"inner")
empdf.show()

+---+-------+------+---+------+-------+------+---+-------+------+---+------+-------+------+
| id|   name|gender|age|salary|   dept|deptno| id|   name|gender|age|salary|   dept|deptno|
+---+-------+------+---+------+-------+------+---+-------+------+---+------+-------+------+
|  1| mahesh|  male| 20|  5000|     IT|    50|  1|shivaji|  male| 20|  8000|     IT|    50|
|  2|shruthi|female| 30|  6000|     HR|    20|  2|shruthi|female| 30|  6000|     HR|    20|
|  3| ganesh|  male| 25|  7000|FINANCE|    30|  3| suresh|  male| 25| 10000|FINANCE|    30|
|  4|  pooja|female| 34|  8000|PAYROLL|    40|  4|shivani|female| 34| 11000|PAYROLL|    40|
|  5| kamini|female| 31|  6000|     IT|    50|  5| prachi|female| 30|  6000|     IT|    50|
+---+-------+------+---+------+-------+------+---+-------+------+---+------+-------+------+