In [2]:
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.appName("https://github.com/maheshkshi400/MK").getOrCreate()



df = spark.read.format('csv') \
    .option('inferschema', True) \
    .option('header',True)\
    .option('sep',",")\
    .load(r'C:\Users\User\juypter\files\empdf12.CSV')
df.show()

+---+-----------------+------+----+------+-------+------+---------+
| id|             name|gender| age|salary|   dept|deptno|      doj|
+---+-----------------+------+----+------+-------+------+---------+
|  1|Mahesh Kshirsagar|  male|  20|  5000|     IT|    50|19-4-2011|
|  2|   Shruthi Sharma|female|None|  6000|     HR|  null|20-5-2007|
|  3|   Ganesh Kenjale|  male|  25|  null|FINANCE|    30|     null|
|  4|    Pooja Chandra|female|null|  8000|PAYROLL|    40|14-4-1998|
|  5|     kamini sinha|female|  31|  6000|     IT|    50|20-5-2002|
|  6|        Rahul Roy|  null|  28|  null|   null|    10|31-8-2015|
|  7|    Shweta Tiwari|female|  30|  6000|     HR|    20|     null|
|  8|   suresh Katwani|  null|  25| 10000|FINANCE|    30|22-3-2007|
|  9|             null|  null|null|  null|   null|  null|     null|
| 10|   prachi Inamdar|female|  30|  6000|   null|    50|     null|
+---+-----------------+------+----+------+-------+------+---------+

In [3]:
# create iterable data

column_list = df.columns
print(column_list)

['id', 'name', 'gender', 'age', 'salary', 'dept', 'deptno', 'doj']

In [5]:
# join the string

joined_string = ",".join(column_list)
print(joined_string)

id,name,gender,age,salary,dept,deptno,doj

In [6]:
#use cases

joinstring ="AND".join(list(map(lambda x:("Target." + x +"=Source." +x),column_list)))

print(joinstring)

Target.id=Source.idANDTarget.name=Source.nameANDTarget.gender=Source.genderANDTarget.age=Source.ageANDTarget.salary=Source.salaryANDTarget.dept=Source.deptANDTarget.deptno=Source.deptnoANDTarget.doj=Source.doj

In [7]:
updateString = ",".join(list(map(lambda x: ("Target." + x +"=Source." +x),column_list)))
print(updateString)

Target.id=Source.id,Target.name=Source.name,Target.gender=Source.gender,Target.age=Source.age,Target.salary=Source.salary,Target.dept=Source.dept,Target.deptno=Source.deptno,Target.doj=Source.doj

In [8]:
sourceinsertstring = ",".join(list(map(lambda x:("Source."+x),column_list)))
print(sourceinsertstring)

Source.id,Source.name,Source.gender,Source.age,Source.salary,Source.dept,Source.deptno,Source.doj