In [2]:
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
sc = SparkContext.getOrCreate()
spark=SparkSession(sc)

In [3]:
sc

In [1]:
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.appName("https://github.com/maheshkshi400/MK").getOrCreate()


df = spark.read.format('csv') \
    .option('inferschema', True) \
    .option('header',True)\
    .load(r'C:\Users\User\juypter\files\empdf12.CSV')
df.show()

+---+-----------------+------+----+------+-------+------+---------+
| id|             name|gender| age|salary|   dept|deptno|      doj|
+---+-----------------+------+----+------+-------+------+---------+
|  1|Mahesh Kshirsagar|  male|  20|  5000|     IT|    50|19-4-2011|
|  2|   Shruthi Sharma|female|None|  6000|     HR|  null|20-5-2007|
|  3|   Ganesh Kenjale|  male|  25|  null|FINANCE|    30|     null|
|  4|    Pooja Chandra|female|null|  8000|PAYROLL|    40|14-4-1998|
|  5|     kamini sinha|female|  31|  6000|     IT|    50|20-5-2002|
|  6|        Rahul Roy|  null|  28|  null|   null|    10|31-8-2015|
|  7|    Shweta Tiwari|female|  30|  6000|     HR|    20|     null|
|  8|   suresh Katwani|  null|  25| 10000|FINANCE|    30|22-3-2007|
|  9|             null|  null|null|  null|   null|  null|     null|
| 10|   prachi Inamdar|female|  30|  6000|   null|    50|     null|
+---+-----------------+------+----+------+-------+------+---------+

In [4]:
df1 = df.filter(df.deptno.isNull())
df1.show()

+---+--------------+------+----+------+----+------+---------+
| id|          name|gender| age|salary|dept|deptno|      doj|
+---+--------------+------+----+------+----+------+---------+
|  2|Shruthi Sharma|female|None|  6000|  HR|  null|20-5-2007|
|  9|          null|  null|null|  null|null|  null|     null|
+---+--------------+------+----+------+----+------+---------+

In [5]:
df3 = df.filter(df.gender.isNull())
df3.show()

+---+--------------+------+----+------+-------+------+---------+
| id|          name|gender| age|salary|   dept|deptno|      doj|
+---+--------------+------+----+------+-------+------+---------+
|  6|     Rahul Roy|  null|  28|  null|   null|    10|31-8-2015|
|  8|suresh Katwani|  null|  25| 10000|FINANCE|    30|22-3-2007|
|  9|          null|  null|null|  null|   null|  null|     null|
+---+--------------+------+----+------+-------+------+---------+

In [7]:
# mthod 1

df4= df.filter("salary  IS NULL")
df4.show()

# Method 2
from pyspark.sql.functions import col
df5 = df.filter(col("salary").isNull())
df5.show()

+---+--------------+------+----+------+-------+------+---------+
| id|          name|gender| age|salary|   dept|deptno|      doj|
+---+--------------+------+----+------+-------+------+---------+
|  3|Ganesh Kenjale|  male|  25|  null|FINANCE|    30|     null|
|  6|     Rahul Roy|  null|  28|  null|   null|    10|31-8-2015|
|  9|          null|  null|null|  null|   null|  null|     null|
+---+--------------+------+----+------+-------+------+---------+

+---+--------------+------+----+------+-------+------+---------+
| id|          name|gender| age|salary|   dept|deptno|      doj|
+---+--------------+------+----+------+-------+------+---------+
|  3|Ganesh Kenjale|  male|  25|  null|FINANCE|    30|     null|
|  6|     Rahul Roy|  null|  28|  null|   null|    10|31-8-2015|
|  9|          null|  null|null|  null|   null|  null|     null|
+---+--------------+------+----+------+-------+------+---------+

In [9]:
from pyspark.sql import functions as F

df6 = df.filter((F.col('gender').isNotNull()) & (F.col('deptno').isNotNull()))
df6.show()

+---+-----------------+------+----+------+-------+------+---------+
| id|             name|gender| age|salary|   dept|deptno|      doj|
+---+-----------------+------+----+------+-------+------+---------+
|  1|Mahesh Kshirsagar|  male|  20|  5000|     IT|    50|19-4-2011|
|  3|   Ganesh Kenjale|  male|  25|  null|FINANCE|    30|     null|
|  4|    Pooja Chandra|female|null|  8000|PAYROLL|    40|14-4-1998|
|  5|     kamini sinha|female|  31|  6000|     IT|    50|20-5-2002|
|  7|    Shweta Tiwari|female|  30|  6000|     HR|    20|     null|
| 10|   prachi Inamdar|female|  30|  6000|   null|    50|     null|
+---+-----------------+------+----+------+-------+------+---------+