In [ ]:
1-A-12-2-B-23-3-C-34-4-D-15

In [ ]:
dbutils.fs.put("dbfs:/FileStore/interview_1.txt",'1-A-12-2-B-23-3-C-34-4-D-15')

In [ ]:
df = spark.read.text("dbfs:/FileStore/interview_1.txt")
df.show()

In [ ]:
from pyspark.sql.functions import regexp_replace,explode,split
df1 = df.withColumn("new_value",regexp_replace("value","(.*?\\-){3}","$0,")).drop("value")
df1.show(truncate=False)
df2 = df1.withColumn("new_value_1",explode(split(df1.new_value,'-,'))).drop("new_value")
df2.show()
df3 = df2.select(split(df2.new_value_1,'-'))
df3.show()

In [ ]:
from pyspark.sql.functions import col, split


df4 = df2.withColumn("ID", split(col("new_value_1"), "-")[0]).withColumn("NAME", split(col("new_value_1"), "-")[1]).withColumn("AGE", split(col("new_value_1"), "-")[2]).drop("new_value_1")

df4.show()