In [1]:
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.appName("https://github.com/maheshkshi400/MK").getOrCreate()



data1 = [(1,'mahesh','male',20,5000,'IT',50,2002),
         (2,'shruthi','female',30,6000,'HR',20,2008),
         (3,'ganesh','male',25,7000,'FINANCE',30,2010),
         (4,'pooja','female',34,8000,'PAYROLL',40,2005),
         (5,'kamini','female',31,6000,'IT',50,2007),
         (6,'shivaji','male',20,8000,'IT',50,1004),
         (7,'shweta','female',30,6000,'HR',20,1998),
         (8,'suresh','male',25,10000,'FINANCE',30,2011),
         (9,'shivani','female',34,11000,'PAYROLL',40,2013),
         (10,'prachi','female',30,6000,'IT',50,2001)]

schema1 = ['id','name','gender','age','salary','dept','deptno','doj']




df1 = spark.createDataFrame(data1,schema1)


df1.show()

ModuleNotFoundError: No module named 'pyspark'

In [3]:
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.appName("https://github.com/maheshkshi400/MK").getOrCreate()


df2= df1.filter(df1.salary==6000)
df2.show()

+---+-------+------+---+------+----+------+----+
| id|   name|gender|age|salary|dept|deptno| doj|
+---+-------+------+---+------+----+------+----+
|  2|shruthi|female| 30|  6000|  HR|    20|2008|
|  5| kamini|female| 31|  6000|  IT|    50|2007|
|  7| shweta|female| 30|  6000|  HR|    20|1998|
| 10| prachi|female| 30|  6000|  IT|    50|2001|
+---+-------+------+---+------+----+------+----+

In [8]:
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.appName("https://github.com/maheshkshi400/MK").getOrCreate()


df3= df1.filter(df1.salary>=8000)
df3.show()

+---+-------+------+---+------+-------+------+----+
| id|   name|gender|age|salary|   dept|deptno| doj|
+---+-------+------+---+------+-------+------+----+
|  4|  pooja|female| 34|  8000|PAYROLL|    40|2005|
|  6|shivaji|  male| 20|  8000|     IT|    50|1004|
|  8| suresh|  male| 25| 10000|FINANCE|    30|2011|
|  9|shivani|female| 34| 11000|PAYROLL|    40|2013|
+---+-------+------+---+------+-------+------+----+

In [9]:
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.appName("https://github.com/maheshkshi400/MK").getOrCreate()

df1.show()


df4= df1.filter((df1.salary>=8000) & (df1.doj>=2005))
df4.show()

+---+-------+------+---+------+-------+------+----+
| id|   name|gender|age|salary|   dept|deptno| doj|
+---+-------+------+---+------+-------+------+----+
|  1| mahesh|  male| 20|  5000|     IT|    50|2002|
|  2|shruthi|female| 30|  6000|     HR|    20|2008|
|  3| ganesh|  male| 25|  7000|FINANCE|    30|2010|
|  4|  pooja|female| 34|  8000|PAYROLL|    40|2005|
|  5| kamini|female| 31|  6000|     IT|    50|2007|
|  6|shivaji|  male| 20|  8000|     IT|    50|1004|
|  7| shweta|female| 30|  6000|     HR|    20|1998|
|  8| suresh|  male| 25| 10000|FINANCE|    30|2011|
|  9|shivani|female| 34| 11000|PAYROLL|    40|2013|
| 10| prachi|female| 30|  6000|     IT|    50|2001|
+---+-------+------+---+------+-------+------+----+

+---+-------+------+---+------+-------+------+----+
| id|   name|gender|age|salary|   dept|deptno| doj|
+---+-------+------+---+------+-------+------+----+
|  4|  pooja|female| 34|  8000|PAYROLL|    40|2005|
|  8| suresh|  male| 25| 10000|FINANCE|    30|2011|
|  9|shivani|female| 34| 11000|PAYROLL|    40|2013|
+---+-------+------+---+------+-------+------+----+

In [10]:
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.appName("https://github.com/maheshkshi400/MK").getOrCreate()

df1.show()


df5= df1.filter((df1.salary>=8000) | (df1.doj>=2005))
df5.show()

+---+-------+------+---+------+-------+------+----+
| id|   name|gender|age|salary|   dept|deptno| doj|
+---+-------+------+---+------+-------+------+----+
|  1| mahesh|  male| 20|  5000|     IT|    50|2002|
|  2|shruthi|female| 30|  6000|     HR|    20|2008|
|  3| ganesh|  male| 25|  7000|FINANCE|    30|2010|
|  4|  pooja|female| 34|  8000|PAYROLL|    40|2005|
|  5| kamini|female| 31|  6000|     IT|    50|2007|
|  6|shivaji|  male| 20|  8000|     IT|    50|1004|
|  7| shweta|female| 30|  6000|     HR|    20|1998|
|  8| suresh|  male| 25| 10000|FINANCE|    30|2011|
|  9|shivani|female| 34| 11000|PAYROLL|    40|2013|
| 10| prachi|female| 30|  6000|     IT|    50|2001|
+---+-------+------+---+------+-------+------+----+

+---+-------+------+---+------+-------+------+----+
| id|   name|gender|age|salary|   dept|deptno| doj|
+---+-------+------+---+------+-------+------+----+
|  2|shruthi|female| 30|  6000|     HR|    20|2008|
|  3| ganesh|  male| 25|  7000|FINANCE|    30|2010|
|  4|  pooja|female| 34|  8000|PAYROLL|    40|2005|
|  5| kamini|female| 31|  6000|     IT|    50|2007|
|  6|shivaji|  male| 20|  8000|     IT|    50|1004|
|  8| suresh|  male| 25| 10000|FINANCE|    30|2011|
|  9|shivani|female| 34| 11000|PAYROLL|    40|2013|
+---+-------+------+---+------+-------+------+----+

In [11]:
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.appName("https://github.com/maheshkshi400/MK").getOrCreate()

df1.show()


df6= df1.filter((df1.salary>=8000) | (df1.doj>=2005))
df6.show()

+---+-------+------+---+------+-------+------+----+
| id|   name|gender|age|salary|   dept|deptno| doj|
+---+-------+------+---+------+-------+------+----+
|  1| mahesh|  male| 20|  5000|     IT|    50|2002|
|  2|shruthi|female| 30|  6000|     HR|    20|2008|
|  3| ganesh|  male| 25|  7000|FINANCE|    30|2010|
|  4|  pooja|female| 34|  8000|PAYROLL|    40|2005|
|  5| kamini|female| 31|  6000|     IT|    50|2007|
|  6|shivaji|  male| 20|  8000|     IT|    50|1004|
|  7| shweta|female| 30|  6000|     HR|    20|1998|
|  8| suresh|  male| 25| 10000|FINANCE|    30|2011|
|  9|shivani|female| 34| 11000|PAYROLL|    40|2013|
| 10| prachi|female| 30|  6000|     IT|    50|2001|
+---+-------+------+---+------+-------+------+----+

+---+-------+------+---+------+-------+------+----+
| id|   name|gender|age|salary|   dept|deptno| doj|
+---+-------+------+---+------+-------+------+----+
|  2|shruthi|female| 30|  6000|     HR|    20|2008|
|  3| ganesh|  male| 25|  7000|FINANCE|    30|2010|
|  4|  pooja|female| 34|  8000|PAYROLL|    40|2005|
|  5| kamini|female| 31|  6000|     IT|    50|2007|
|  6|shivaji|  male| 20|  8000|     IT|    50|1004|
|  8| suresh|  male| 25| 10000|FINANCE|    30|2011|
|  9|shivani|female| 34| 11000|PAYROLL|    40|2013|
+---+-------+------+---+------+-------+------+----+

In [14]:
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.appName("https://github.com/maheshkshi400/MK").getOrCreate()

df1.show()


df7= df1.filter(df1.name.endswith("i"))
df7.show()

+---+-------+------+---+------+-------+------+----+
| id|   name|gender|age|salary|   dept|deptno| doj|
+---+-------+------+---+------+-------+------+----+
|  1| mahesh|  male| 20|  5000|     IT|    50|2002|
|  2|shruthi|female| 30|  6000|     HR|    20|2008|
|  3| ganesh|  male| 25|  7000|FINANCE|    30|2010|
|  4|  pooja|female| 34|  8000|PAYROLL|    40|2005|
|  5| kamini|female| 31|  6000|     IT|    50|2007|
|  6|shivaji|  male| 20|  8000|     IT|    50|1004|
|  7| shweta|female| 30|  6000|     HR|    20|1998|
|  8| suresh|  male| 25| 10000|FINANCE|    30|2011|
|  9|shivani|female| 34| 11000|PAYROLL|    40|2013|
| 10| prachi|female| 30|  6000|     IT|    50|2001|
+---+-------+------+---+------+-------+------+----+

+---+-------+------+---+------+-------+------+----+
| id|   name|gender|age|salary|   dept|deptno| doj|
+---+-------+------+---+------+-------+------+----+
|  2|shruthi|female| 30|  6000|     HR|    20|2008|
|  5| kamini|female| 31|  6000|     IT|    50|2007|
|  6|shivaji|  male| 20|  8000|     IT|    50|1004|
|  9|shivani|female| 34| 11000|PAYROLL|    40|2013|
| 10| prachi|female| 30|  6000|     IT|    50|2001|
+---+-------+------+---+------+-------+------+----+

In [17]:
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.appName("https://github.com/maheshkshi400/MK").getOrCreate()



data1 = [(1,'mahesh','male',20,5000,'IT',50,2002),
         (2,'shruthi','female',30,6000,'HR',20,2008),
         (3,'ganesh','male',25,7000,'FINANCE',30,2010),
         (4,'pooja','female',34,8000,'PAYROLL',40,2005),
         (5,'kamini','female',31,6000,'IT',None,2007),
         (6,'shivaji','male',20,8000,'IT',50,1004),
         (7,'shweta','female',30,6000,'HR',20,1998),
         (8,'suresh','male',25,10000,'FINANCE',30,2011),
         (9,'shivani',None,34,11000,'PAYROLL',40,2013),
         (10,'prachi','female',30,6000,'IT',50,2001)]

schema1 = ['id','name','gender','age','salary','dept','deptno','doj']




empdf = spark.createDataFrame(data1,schema1)


empdf.show()

+---+-------+------+---+------+-------+------+----+
| id|   name|gender|age|salary|   dept|deptno| doj|
+---+-------+------+---+------+-------+------+----+
|  1| mahesh|  male| 20|  5000|     IT|    50|2002|
|  2|shruthi|female| 30|  6000|     HR|    20|2008|
|  3| ganesh|  male| 25|  7000|FINANCE|    30|2010|
|  4|  pooja|female| 34|  8000|PAYROLL|    40|2005|
|  5| kamini|female| 31|  6000|     IT|  NULL|2007|
|  6|shivaji|  male| 20|  8000|     IT|    50|1004|
|  7| shweta|female| 30|  6000|     HR|    20|1998|
|  8| suresh|  male| 25| 10000|FINANCE|    30|2011|
|  9|shivani|  NULL| 34| 11000|PAYROLL|    40|2013|
| 10| prachi|female| 30|  6000|     IT|    50|2001|
+---+-------+------+---+------+-------+------+----+

In [18]:
df8=empdf.filter(empdf.name.endswith("i"))
df8.show()

+---+-------+------+---+------+-------+------+----+
| id|   name|gender|age|salary|   dept|deptno| doj|
+---+-------+------+---+------+-------+------+----+
|  2|shruthi|female| 30|  6000|     HR|    20|2008|
|  5| kamini|female| 31|  6000|     IT|  NULL|2007|
|  6|shivaji|  male| 20|  8000|     IT|    50|1004|
|  9|shivani|  NULL| 34| 11000|PAYROLL|    40|2013|
| 10| prachi|female| 30|  6000|     IT|    50|2001|
+---+-------+------+---+------+-------+------+----+

In [21]:
df9=empdf.filter(empdf.name.startswith("s"))
df9.show()

+---+-------+------+---+------+-------+------+----+
| id|   name|gender|age|salary|   dept|deptno| doj|
+---+-------+------+---+------+-------+------+----+
|  2|shruthi|female| 30|  6000|     HR|    20|2008|
|  6|shivaji|  male| 20|  8000|     IT|    50|1004|
|  7| shweta|female| 30|  6000|     HR|    20|1998|
|  8| suresh|  male| 25| 10000|FINANCE|    30|2011|
|  9|shivani|  NULL| 34| 11000|PAYROLL|    40|2013|
+---+-------+------+---+------+-------+------+----+

In [25]:
df10=empdf.filter(empdf.gender.isNull())
df10.show()

+---+-------+------+---+------+-------+------+----+
| id|   name|gender|age|salary|   dept|deptno| doj|
+---+-------+------+---+------+-------+------+----+
|  9|shivani|  NULL| 34| 11000|PAYROLL|    40|2013|
+---+-------+------+---+------+-------+------+----+

In [28]:
df11=empdf.filter(empdf.name.contains("v"))
df11.show()

+---+-------+------+---+------+-------+------+----+
| id|   name|gender|age|salary|   dept|deptno| doj|
+---+-------+------+---+------+-------+------+----+
|  6|shivaji|  male| 20|  8000|     IT|    50|1004|
|  9|shivani|  NULL| 34| 11000|PAYROLL|    40|2013|
+---+-------+------+---+------+-------+------+----+

In [29]:
df12=empdf.filter(empdf.salary.isin(8000,10000))
df12.show()

+---+-------+------+---+------+-------+------+----+
| id|   name|gender|age|salary|   dept|deptno| doj|
+---+-------+------+---+------+-------+------+----+
|  4|  pooja|female| 34|  8000|PAYROLL|    40|2005|
|  6|shivaji|  male| 20|  8000|     IT|    50|1004|
|  8| suresh|  male| 25| 10000|FINANCE|    30|2011|
+---+-------+------+---+------+-------+------+----+

In [30]:
df13=empdf.filter(empdf.name.like('m%'))
df13.show()

+---+------+------+---+------+----+------+----+
| id|  name|gender|age|salary|dept|deptno| doj|
+---+------+------+---+------+----+------+----+
|  1|mahesh|  male| 20|  5000|  IT|    50|2002|
+---+------+------+---+------+----+------+----+