In [1]:
import pandas as pd
y = pd.Period('2016')
y

Period('2016', 'Y-DEC')

In [2]:

y.start_time

Timestamp('2016-01-01 00:00:00')

In [3]:

y.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [4]:

y.is_leap_year

True

In [5]:
m = pd.Period('2017-12')
m

Period('2017-12', 'M')

In [6]:
m.start_time

Timestamp('2017-12-01 00:00:00')

In [7]:
m.end_time

Timestamp('2017-12-31 23:59:59.999999999')

In [8]:
m+1

Period('2018-01', 'M')

In [9]:
d = pd.Period('2016-02-28', freq='D')
d

Period('2016-02-28', 'D')

In [10]:

d.start_time

Timestamp('2016-02-28 00:00:00')

In [11]:

d.end_time

Timestamp('2016-02-28 23:59:59.999999999')

In [12]:
d+1

Period('2016-02-29', 'D')

In [13]:
h = pd.Period('2017-08-15 23:00:00',freq='H')
h

C:\Users\User\AppData\Local\Temp\ipykernel_15356\4112825224.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  h = pd.Period('2017-08-15 23:00:00',freq='H')

Period('2017-08-15 23:00', 'h')

In [14]:

h+1

Period('2017-08-16 00:00', 'h')

In [15]:

h+pd.offsets.Hour(1)

Period('2017-08-16 00:00', 'h')

In [16]:
q1= pd.Period('2017Q1', freq='Q-JAN')
q1

Period('2017Q1', 'Q-JAN')

In [17]:

q1.start_time

Timestamp('2016-02-01 00:00:00')

In [18]:
q1.end_time

Timestamp('2016-04-30 23:59:59.999999999')

In [19]:
q1.asfreq('M',how='start')

Period('2016-02', 'M')

In [20]:
q1.asfreq('M',how='end')

Period('2016-04', 'M')

In [21]:
w = pd.Period('2017-07-05',freq='W')
w

Period('2017-07-03/2017-07-09', 'W-SUN')

In [22]:
w-1

Period('2017-06-26/2017-07-02', 'W-SUN')

In [23]:
w2 = pd.Period('2017-08-15',freq='W')
w2

Period('2017-08-14/2017-08-20', 'W-SUN')

In [24]:
w2-w

In [25]:
r = pd.period_range('2011', '2017', freq='q')
r

C:\Users\User\AppData\Local\Temp\ipykernel_15356\3343801356.py:1: FutureWarning: 'q' is deprecated and will be removed in a future version, please use 'Q' instead.
  r = pd.period_range('2011', '2017', freq='q')

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]')

In [26]:
r[0].start_time

Timestamp('2011-01-01 00:00:00')

In [27]:

r[0].end_time

Timestamp('2011-03-31 23:59:59.999999999')

In [28]:
r = pd.period_range('2011', '2017', freq='q-jan')
r

C:\Users\User\AppData\Local\Temp\ipykernel_15356\2587666501.py:1: FutureWarning: 'q-jan' is deprecated and will be removed in a future version, please use 'Q-JAN' instead.
  r = pd.period_range('2011', '2017', freq='q-jan')

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]')

In [29]:
r[0].start_time

Timestamp('2010-11-01 00:00:00')

In [30]:

r[0].end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [ ]:
r = pd.PeriodIndex(start='2016-01', freq='3M', periods=10)
r

In [ ]:
import numpy as np
ps = pd.Series(np.random.randn(len(idx)), idx)
ps

In [ ]:

ps['2016']

In [ ]:

ps['2016':'2017']

In [ ]:
pst = ps.to_timestamp()
pst

In [ ]:
pst.index

In [ ]:
ps = pst.to_period()
ps

In [34]:
import pandas as pd
df = pd.read_csv(r'C:\Users\User\juypter\files\wmt.csv')
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [35]:

df.set_index("Line Item",inplace=True)
df = df.T
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [36]:
df.index = pd.PeriodIndex(df.index, freq="Q-JAN")
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [37]:
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]')

In [38]:
df.index[0].start_time

Timestamp('2016-02-01 00:00:00')

In [39]:
df["Start Date"]=df.index.map(lambda x: x.start_time)
df

Line Item  Revenue  Expenses  Profit Start Date
2017Q1      115904     86544   29360 2016-02-01
2017Q2      120854     89485   31369 2016-05-01
2017Q3      118179     87484   30695 2016-08-01
2017Q4      130936     97743   33193 2016-11-01
2018Q1      117542     87688   29854 2017-02-01

In [40]:
df["End Date"]=df.index.map(lambda x: x.end_time)
df

Line Item  Revenue  Expenses  Profit Start Date                      End Date
2017Q1      115904     86544   29360 2016-02-01 2016-04-30 23:59:59.999999999
2017Q2      120854     89485   31369 2016-05-01 2016-07-31 23:59:59.999999999
2017Q3      118179     87484   30695 2016-08-01 2016-10-31 23:59:59.999999999
2017Q4      130936     97743   33193 2016-11-01 2017-01-31 23:59:59.999999999
2018Q1      117542     87688   29854 2017-02-01 2017-04-30 23:59:59.999999999