In [2]:
import pandas as pd
df= pd.read_csv(r'C:\Users\User\juypter\files\weatherData12.csv')
df

   Unnamed: 0         Day  temprature  windspeed events
0           0  01-01-2017          32          6   Rain
1           1  01-02-2017          35          7  Sunny
2           2  01-03-2017          28          2   Snow
3           3  01-04-2017          24          7   Snow
4           4  01-05-2017          32          4   Rain
5           5  01-06-2017          32          2  Sunny

In [3]:
import pandas as pd
import numpy as np
weather_data = {
        'Day':['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
        'temprature':[32,35,28,24,32,32], 
        'windspeed':[6,7,2,7,4,2],
        'events':['Rain','Sunny','Snow','Snow','rain','Sunny']
             
}
df1 = pd.DataFrame(weather_data)
df1

        Day  temprature  windspeed events
0  1/1/2017          32          6   Rain
1  1/2/2017          35          7  Sunny
2  1/3/2017          28          2   Snow
3  1/4/2017          24          7   Snow
4  1/5/2017          32          4   rain
5  1/6/2017          32          2  Sunny

In [4]:
rows,columns = df1.shape

In [5]:
columns

4

In [6]:
df.head()

   Unnamed: 0         Day  temprature  windspeed events
0           0  01-01-2017          32          6   Rain
1           1  01-02-2017          35          7  Sunny
2           2  01-03-2017          28          2   Snow
3           3  01-04-2017          24          7   Snow
4           4  01-05-2017          32          4   Rain

In [7]:
df.tail()

   Unnamed: 0         Day  temprature  windspeed events
1           1  01-02-2017          35          7  Sunny
2           2  01-03-2017          28          2   Snow
3           3  01-04-2017          24          7   Snow
4           4  01-05-2017          32          4   Rain
5           5  01-06-2017          32          2  Sunny

In [8]:
df.tail(1)

   Unnamed: 0         Day  temprature  windspeed events
5           5  01-06-2017          32          2  Sunny

In [9]:
df[2:5]

   Unnamed: 0         Day  temprature  windspeed events
2           2  01-03-2017          28          2   Snow
3           3  01-04-2017          24          7   Snow
4           4  01-05-2017          32          4   Rain

In [10]:
df[:3]

   Unnamed: 0         Day  temprature  windspeed events
0           0  01-01-2017          32          6   Rain
1           1  01-02-2017          35          7  Sunny
2           2  01-03-2017          28          2   Snow

In [11]:
df.columns

Index(['Unnamed: 0', 'Day', 'temprature', 'windspeed', 'events'], dtype='object')

In [13]:
df1.Day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: Day, dtype: object

In [15]:
type(df['events'])

pandas.core.series.Series

In [18]:
df[['events','Day']]

  events         Day
0   Rain  01-01-2017
1  Sunny  01-02-2017
2   Snow  01-03-2017
3   Snow  01-04-2017
4   Rain  01-05-2017
5  Sunny  01-06-2017

In [20]:
df['temprature'].max()

35

In [21]:
df['temprature'].mean()

30.5

In [22]:
df.describe()

       Unnamed: 0  temprature  windspeed
count    6.000000    6.000000   6.000000
mean     2.500000   30.500000   4.666667
std      1.870829    3.885872   2.338090
min      0.000000   24.000000   2.000000
25%      1.250000   29.000000   2.500000
50%      2.500000   32.000000   5.000000
75%      3.750000   32.000000   6.750000
max      5.000000   35.000000   7.000000

In [23]:
df[df.temprature >= 32]

   Unnamed: 0         Day  temprature  windspeed events
0           0  01-01-2017          32          6   Rain
1           1  01-02-2017          35          7  Sunny
4           4  01-05-2017          32          4   Rain
5           5  01-06-2017          32          2  Sunny

In [24]:
df[df.temprature ==df['temprature'].max()]

   Unnamed: 0         Day  temprature  windspeed events
1           1  01-02-2017          35          7  Sunny

In [25]:
df

   Unnamed: 0         Day  temprature  windspeed events
0           0  01-01-2017          32          6   Rain
1           1  01-02-2017          35          7  Sunny
2           2  01-03-2017          28          2   Snow
3           3  01-04-2017          24          7   Snow
4           4  01-05-2017          32          4   Rain
5           5  01-06-2017          32          2  Sunny

In [37]:
df.set_index('Day',inplace=True)

In [41]:
df.loc['01-04-2017']

Unnamed: 0       3
temprature      24
windspeed        7
events        Snow
Name: 01-04-2017, dtype: object

In [42]:
df.reset_index(inplace=True)

In [43]:
df

          Day  Unnamed: 0  temprature  windspeed events
0  01-01-2017           0          32          6   Rain
1  01-02-2017           1          35          7  Sunny
2  01-03-2017           2          28          2   Snow
3  01-04-2017           3          24          7   Snow
4  01-05-2017           4          32          4   Rain
5  01-06-2017           5          32          2  Sunny

In [44]:
df.set_index('events',inplace=True)

In [45]:
df

               Day  Unnamed: 0  temprature  windspeed
events
Rain    01-01-2017           0          32          6
Sunny   01-02-2017           1          35          7
Snow    01-03-2017           2          28          2
Snow    01-04-2017           3          24          7
Rain    01-05-2017           4          32          4
Sunny   01-06-2017           5          32          2

In [47]:
df.loc['Snow']

               Day  Unnamed: 0  temprature  windspeed
events
Snow    01-03-2017           2          28          2
Snow    01-04-2017           3          24          7