In [2]:
import dlt

In [6]:
%sql
CREATE SCHEMA IF NOT EXISTS cdc_data;

CREATE TABLE
  cdc_data.users
AS SELECT
  col1 AS userId,
  col2 AS name,
  col3 AS city,
  col4 AS operation,
  col5 AS sequenceNum
FROM (
  VALUES
  -- Initial load.
  (124, "Raul",     "Oaxaca",      "INSERT", 1),
  (123, "Isabel",   "Monterrey",   "INSERT", 1),
  -- New users.
  (125, "Mercedes", "Tijuana",     "INSERT", 2),
  (126, "Lily",     "Cancun",      "INSERT", 2),
  -- Isabel is removed from the system and Mercedes moved to Guadalajara.
  (123, null,       null,          "DELETE", 6),
  (125, "Mercedes", "Guadalajara", "UPDATE", 6),
  -- This batch of updates arrived out of order. The above batch at sequenceNum 5 will be the final state.
  (125, "Mercedes", "Mexicali",    "UPDATE", 5),
  (123, "Isabel",   "Chihuahua",   "UPDATE", 5)
  -- Uncomment to test TRUNCATE.
  -- ,(null, null,      null,          "TRUNCATE", 3)
);

SyntaxError: invalid syntax (3655937815.py, line 2)

In [27]:
import pandas as pd
df= pd.read_csv(r'C:\Users\User\juypter\files\weatherData12.csv')
df

   Unnamed: 0         Day  temprature  windspeed events
0           0  01-01-2017          32          6   Rain
1           1  01-02-2017          35          7  Sunny
2           2  01-03-2017          28          2   Snow
3           3  01-04-2017          24          7   Snow
4           4  01-05-2017          32          4   Rain
5           5  01-06-2017          32          2  Sunny

In [28]:
import pandas as pd
import numpy as np
weather_data = {
        'Day':['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
        'temprature':[32,35,28,24,32,32], 
        'windspeed':[6,7,2,7,4,2],
        'events':['Rain','Sunny','Snow','Snow','rain','Sunny']
             
}
df1 = pd.DataFrame(weather_data)
df1

        Day  temprature  windspeed events
0  1/1/2017          32          6   Rain
1  1/2/2017          35          7  Sunny
2  1/3/2017          28          2   Snow
3  1/4/2017          24          7   Snow
4  1/5/2017          32          4   rain
5  1/6/2017          32          2  Sunny

In [29]:
rows,columns = df1.shape

In [31]:
columns,rows

(4, 6)

In [32]:
df.head()

   Unnamed: 0         Day  temprature  windspeed events
0           0  01-01-2017          32          6   Rain
1           1  01-02-2017          35          7  Sunny
2           2  01-03-2017          28          2   Snow
3           3  01-04-2017          24          7   Snow
4           4  01-05-2017          32          4   Rain

In [33]:
df.tail()

   Unnamed: 0         Day  temprature  windspeed events
1           1  01-02-2017          35          7  Sunny
2           2  01-03-2017          28          2   Snow
3           3  01-04-2017          24          7   Snow
4           4  01-05-2017          32          4   Rain
5           5  01-06-2017          32          2  Sunny

In [34]:
df.tail(1)

   Unnamed: 0         Day  temprature  windspeed events
5           5  01-06-2017          32          2  Sunny

In [35]:
df[2:5]

   Unnamed: 0         Day  temprature  windspeed events
2           2  01-03-2017          28          2   Snow
3           3  01-04-2017          24          7   Snow
4           4  01-05-2017          32          4   Rain

In [36]:
df[:3]

   Unnamed: 0         Day  temprature  windspeed events
0           0  01-01-2017          32          6   Rain
1           1  01-02-2017          35          7  Sunny
2           2  01-03-2017          28          2   Snow

In [37]:
df.columns

Index(['Unnamed: 0', 'Day', 'temprature', 'windspeed', 'events'], dtype='object')

In [38]:
df1.Day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: Day, dtype: object

In [39]:
type(df['events'])

pandas.core.series.Series

In [40]:
df[['events','Day']]

  events         Day
0   Rain  01-01-2017
1  Sunny  01-02-2017
2   Snow  01-03-2017
3   Snow  01-04-2017
4   Rain  01-05-2017
5  Sunny  01-06-2017

In [41]:
df['temprature'].max()

35

In [42]:
df['temprature'].mean()

30.5

In [43]:
df.describe()

       Unnamed: 0  temprature  windspeed
count    6.000000    6.000000   6.000000
mean     2.500000   30.500000   4.666667
std      1.870829    3.885872   2.338090
min      0.000000   24.000000   2.000000
25%      1.250000   29.000000   2.500000
50%      2.500000   32.000000   5.000000
75%      3.750000   32.000000   6.750000
max      5.000000   35.000000   7.000000

In [44]:
df[df.temprature >= 32]

   Unnamed: 0         Day  temprature  windspeed events
0           0  01-01-2017          32          6   Rain
1           1  01-02-2017          35          7  Sunny
4           4  01-05-2017          32          4   Rain
5           5  01-06-2017          32          2  Sunny

In [45]:
df[df.temprature ==df['temprature'].max()]

   Unnamed: 0         Day  temprature  windspeed events
1           1  01-02-2017          35          7  Sunny

In [46]:
df

   Unnamed: 0         Day  temprature  windspeed events
0           0  01-01-2017          32          6   Rain
1           1  01-02-2017          35          7  Sunny
2           2  01-03-2017          28          2   Snow
3           3  01-04-2017          24          7   Snow
4           4  01-05-2017          32          4   Rain
5           5  01-06-2017          32          2  Sunny

In [59]:
df.set_index('events',inplace=True)

In [60]:
df.loc['01-04-2017']

KeyError: '01-04-2017'

In [58]:
df.reset_index(inplace=True)

In [61]:
df

        Unnamed: 0  temprature  windspeed
events
Rain             0          32          6
Sunny            1          35          7
Snow             2          28          2
Snow             3          24          7
Rain             4          32          4
Sunny            5          32          2

In [ ]:
df.set_index('events',inplace=True)

In [64]:
df

        Unnamed: 0  temprature  windspeed
events
Rain             0          32          6
Sunny            1          35          7
Snow             2          28          2
Snow             3          24          7
Rain             4          32          4
Sunny            5          32          2

In [65]:
df.loc['Snow']

        Unnamed: 0  temprature  windspeed
events
Snow             2          28          2
Snow             3          24          7