In [1]:

import pandas as pd
import numpy as np
technologies = {
    'Courses':["Spark","PySpark","Hadoop","Python","pandas","Oracle","Java"],
    'Fee' :[20000,25000,26000,22000,24000,21000,22000],
    'Duration':['30days','40days','35days','40days',np.nan,None,'55days'],
    'Discount':[1000,2300,1500,1200,2500,2100,2000]
               }
index_labels=['r1','r2','r3','r4','r5','r6','r7']
df = pd.DataFrame(technologies,index=index_labels)
print(df)

    Courses    Fee Duration  Discount
r1    Spark  20000   30days      1000
r2  PySpark  25000   40days      2300
r3   Hadoop  26000   35days      1500
r4   Python  22000   40days      1200
r5   pandas  24000      NaN      2500
r6   Oracle  21000     None      2100
r7     Java  22000   55days      2000

In [3]:
import pandas as pd
import numpy as np
weather_data = {
        'Day':['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
        'temprature':[32,33,40,41,15,20], 
        'windspeed':[2,4,6,3,7,5],
        'events':['rain','snow','sunny','sunny','snow','rain']
             
}
df1 = pd.DataFrame(weather_data)
df1

        Day  temprature  windspeed events
0  1/1/2017          32          2   rain
1  1/2/2017          33          4   snow
2  1/3/2017          40          6  sunny
3  1/4/2017          41          3  sunny
4  1/5/2017          15          7   snow
5  1/6/2017          20          5   rain

In [4]:
rows,columns=df1.shape
columns

4

In [14]:
rows

6

In [5]:
df1.head()

        Day  temprature  windspeed events
0  1/1/2017          32          2   rain
1  1/2/2017          33          4   snow
2  1/3/2017          40          6  sunny
3  1/4/2017          41          3  sunny
4  1/5/2017          15          7   snow

In [17]:
df1.tail()

        Day  temprature  windspeed events
1  1/2/2017          33          4   snow
2  1/3/2017          40          6  sunny
3  1/4/2017          41          3  sunny
4  1/5/2017          15          7   snow
5  1/6/2017          20          5   rain

In [19]:
df1[2:5]

        Day  temprature  windspeed events
2  1/3/2017          40          6  sunny
3  1/4/2017          41          3  sunny
4  1/5/2017          15          7   snow

In [20]:
df1.columns

Index(['Day', 'temprature', 'windspeed', 'events'], dtype='object')

In [21]:
df1.events

0     rain
1     snow
2    sunny
3    sunny
4     snow
5     rain
Name: events, dtype: object

In [22]:
df1['events']

0     rain
1     snow
2    sunny
3    sunny
4     snow
5     rain
Name: events, dtype: object

In [24]:
type(df1['events'])

pandas.core.series.Series

In [26]:
df1[['events','Day']]

  events       Day
0   rain  1/1/2017
1   snow  1/2/2017
2  sunny  1/3/2017
3  sunny  1/4/2017
4   snow  1/5/2017
5   rain  1/6/2017

In [27]:
df1

        Day  temprature  windspeed events
0  1/1/2017          32          2   rain
1  1/2/2017          33          4   snow
2  1/3/2017          40          6  sunny
3  1/4/2017          41          3  sunny
4  1/5/2017          15          7   snow
5  1/6/2017          20          5   rain

In [28]:
df1['temprature'].max()

41

In [29]:
df1['temprature'].min()

15

In [30]:
df1['temprature'].mean()

30.166666666666668

In [32]:
df1.describe()

       temprature  windspeed
count    6.000000   6.000000
mean    30.166667   4.500000
std     10.571976   1.870829
min     15.000000   2.000000
25%     23.000000   3.250000
50%     32.500000   4.500000
75%     38.250000   5.750000
max     41.000000   7.000000

In [33]:
df1[df1.temprature>=37]

        Day  temprature  windspeed events
2  1/3/2017          40          6  sunny
3  1/4/2017          41          3  sunny

In [35]:
df1[df1.temprature==df.temprature.max()]

        Day  temprature  windspeed events
3  1/4/2017          41          3  sunny

In [7]:
df1.set_index('Day',inplace=True)
df1

KeyError: "None of ['Day'] are in the columns"

In [8]:
df1

          temprature  windspeed events
Day
1/1/2017          32          2   rain
1/2/2017          33          4   snow
1/3/2017          40          6  sunny
1/4/2017          41          3  sunny
1/5/2017          15          7   snow
1/6/2017          20          5   rain

In [9]:
df1.loc['1/4/2017']

temprature       41
windspeed         3
events        sunny
Name: 1/4/2017, dtype: object

In [10]:
df1.loc['rain']

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "E:\anaconda\Lib\site-packages\pandas\core\indexes\base.py", line 3653, in get_loc
    return self._engine.get_loc(casted_key)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "pandas\_libs\index.pyx", line 147, in pandas._libs.index.IndexEngine.get_loc
  File "pandas\_libs\index.pyx", line 176, in pandas._libs.index.IndexEngine.get_loc
  File "pandas\_libs\hashtable_class_helper.pxi", line 7080, in pandas._libs.hashtable.PyObjectHashTable.get_item
  File "pandas\_libs\hashtable_class_helper.pxi", line 7088, in pandas._libs.hashtable.PyObjectHashTable.get_item
KeyError: 'rain'

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\IPython\core\interactiveshell.py", line 3526, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Pc\AppData\Local\Temp\ipykernel_9900\374753331.py", line 1, in <module>
    df1.loc['rain']
    ~~~~~~~^^^^^^^^
  File "E:\anaconda\Lib\site-packages\pandas\core\indexing.py", line 1103, in __getitem__
    return self._getitem_axis(maybe_callable, axis=axis)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "E:\anaconda\Lib\site-packages\pandas\core\indexing.py", line 1343, in _getitem_axis
    return self._get_label(key, axis=axis)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "E:\anaconda\Lib\site-packages\pandas\core\indexing.py", line 1293, in _get_label
    return self.obj.xs(label, axis=axis)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "E:\anaconda\Lib\site-packages\pandas\core\generic.py", line 4095, in xs
    loc = index.get_loc(key)
          ^^^^^^^^^^^^^^^^^^
  File "E:\anaconda\Lib\site-packages\pandas\core\indexes\base.py", line 3655, in get_loc
    raise KeyError(key) from err
KeyError: 'rain'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\IPython\core\interactiveshell.py", line 2120, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
                          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
                  ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
    ^^^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
           ^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\stack_data\utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
             ^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\stack_data\utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\stack_data\core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
                   ^^^^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\stack_data\utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\stack_data\core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
                             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Pc\AppData\Roaming\Python\Python311\site-packages\stack_data\core.py", line 178, in line_range
    return line_range(self.asttext(), node)
                      ^^^^^^^^^^^^
AttributeError: 'Source' object has no attribute 'asttext'