In [1]:
import pandas as pd

In [2]:
var= pd.DataFrame({"A":[1,2,3,4],"B":[5,6,7,8]})
var

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

In [3]:
var["C"]=var["A"]+var["B"]
var

   A  B   C
0  1  5   6
1  2  6   8
2  3  7  10
3  4  8  12

In [4]:
var["D"]=var["A"]-var["B"]
var

   A  B   C  D
0  1  5   6 -4
1  2  6   8 -4
2  3  7  10 -4
3  4  8  12 -4

In [5]:
var["C"]=var["A"]*var["B"]
var

   A  B   C  D
0  1  5   5 -4
1  2  6  12 -4
2  3  7  21 -4
3  4  8  32 -4

In [18]:
var1= pd.DataFrame({"A":[10,20,30,40],"B":[15,16,17,18]})
var1

    A   B
0  10  15
1  20  16
2  30  17
3  40  18

In [19]:
var1["Python"]=var1["A"] <=20
var1

    A   B  Python
0  10  15    True
1  20  16    True
2  30  17   False
3  40  18   False

In [20]:
var1["Python_1"]=var1["B"] >=16
var1

    A   B  Python  Python_1
0  10  15    True     False
1  20  16    True      True
2  30  17   False      True
3  40  18   False      True