In [2]:
import pandas as pd
import numpy as np


df = pd.read_csv('weatherData.csv')
print(df)

   Unnamed: 0       Day  temprature  windspeed events
0           0  1/1/2017          32          2   rain
1           1  1/2/2017          33          4   snow
2           2  1/3/2017          40          6  sunny
3           3  1/4/2017          41          3  sunny
4           4  1/5/2017          15          7   snow
5           5  1/6/2017          20          5   rain

In [4]:
import pandas as pd
import numpy as np


df2 = pd.read_excel('weatherData.xlsx')
print(df2)

   Unnamed: 0       Day  temprature  windspeed events
0           0  1/1/2017          32          2   rain
1           1  1/2/2017          33          4   snow
2           2  1/3/2017          40          6  sunny
3           3  1/4/2017          41          3  sunny
4           4  1/5/2017          15          7   snow
5           5  1/6/2017          20          5   rain

In [5]:
import pandas as pd
import numpy as np


df3 = pd.read_excel("data.xlsx.xlsx")
print(df3)

   id     f_name   l_name  gender      courses  fees   Discount exam_location  \
0   1     Ganesh   Misale    Male      Bigdata  71000      5000         Delhi
1   2      rachi  inamdar  Female      pyspark  34000      3000        mumbai
2   3  shreelila  sargude  Female       python  15000      2000       gurgaon
3   4      Rajat   Shinde    Male  informetica  15000      1000     Bangalore
4   5     Amulya   bankar  Female      bigdata  71000      7000       chennai

                  Date  temprarure  status
0  2014-12-07 00:00:00          17    Rain
1           17/07/2017          32  cloudy
2           18/07/2015          42     hot
3           17/11/2013          12    cold
4           23/08/2016          34     hot

In [18]:
import pandas as pd
import numpy as np


df6 = pd.read_csv("weathereport.csv.csv")
print(df6)

       _id   Serial No            Timestamp  Temperature  Humidity
0        1  1412101873  2014-10-01T00:01:13         23.4        80
1        2  1412102180  2014-10-01T00:06:20         23.4        80
2        3  1412102488  2014-10-01T00:11:28         23.4        80
3        4  1412102796  2014-10-01T00:16:36         23.4        81
4        5  1412103103  2014-10-01T00:21:43         23.4        81
...    ...         ...                  ...          ...       ...
8542  8543  1414778824  2014-10-31T23:37:04         22.5        74
8543  8544  1414779131  2014-10-31T23:42:11         22.5        74
8544  8545  1414779439  2014-10-31T23:47:19         22.5        74
8545  8546  1414779747  2014-10-31T23:52:27         22.5        74
8546  8547  1414780054  2014-10-31T23:57:34         22.5        74

[8547 rows x 5 columns]

In [21]:
import pandas as pd
import numpy as np


df6 = pd.read_csv("weathereport.csv.csv",nrows=30)
print(df6)

    _id   Serial No            Timestamp  Temperature  Humidity
0     1  1412101873  2014-10-01T00:01:13         23.4        80
1     2  1412102180  2014-10-01T00:06:20         23.4        80
2     3  1412102488  2014-10-01T00:11:28         23.4        80
3     4  1412102796  2014-10-01T00:16:36         23.4        81
4     5  1412103103  2014-10-01T00:21:43         23.4        81
5     6  1412103411  2014-10-01T00:26:51         23.4        81
6     7  1412103719  2014-10-01T00:31:59         23.3        81
7     8  1412104026  2014-10-01T00:37:06         23.3        81
8     9  1412104334  2014-10-01T00:42:14         23.3        81
9    10  1412104641  2014-10-01T00:47:21         23.2        81
10   11  1412104898  2014-10-01T00:51:38         23.2        81
11   12  1412105205  2014-10-01T00:56:45         23.2        81
12   13  1412105513  2014-10-01T01:01:53         23.2        81
13   14  1412105821  2014-10-01T01:07:01         23.2        81
14   15  1412106128  2014-10-01T01:12:08         23.2        81
15   16  1412106436  2014-10-01T01:17:16         23.1        81
16   17  1412106743  2014-10-01T01:22:23         23.0        81
17   18  1412107050  2014-10-01T01:27:30         23.0        81
18   19  1412107358  2014-10-01T01:32:38         23.0        81
19   20  1412107666  2014-10-01T01:37:46         23.0        81
20   21  1412107974  2014-10-01T01:42:54         22.9        81
21   22  1412108281  2014-10-01T01:48:01         23.0        81
22   23  1412108537  2014-10-01T01:52:17         23.0        81
23   24  1412108845  2014-10-01T01:57:25         23.0        81
24   25  1412109153  2014-10-01T02:02:33         23.0        81
25   26  1412109460  2014-10-01T02:07:40         23.0        81
26   27  1412109767  2014-10-01T02:12:47         23.0        81
27   28  1412110076  2014-10-01T02:17:56         23.0        81
28   29  1412110384  2014-10-01T02:23:04         23.0        81
29   30  1412110691  2014-10-01T02:28:11         23.0        81

In [24]:
import pandas as pd
import numpy as np


df6 = pd.read_csv("weathereport.csv.csv",usecols=["Timestamp","Temperature","Humidity"])
print(df6)

                Timestamp  Temperature  Humidity
0     2014-10-01T00:01:13         23.4        80
1     2014-10-01T00:06:20         23.4        80
2     2014-10-01T00:11:28         23.4        80
3     2014-10-01T00:16:36         23.4        81
4     2014-10-01T00:21:43         23.4        81
...                   ...          ...       ...
8542  2014-10-31T23:37:04         22.5        74
8543  2014-10-31T23:42:11         22.5        74
8544  2014-10-31T23:47:19         22.5        74
8545  2014-10-31T23:52:27         22.5        74
8546  2014-10-31T23:57:34         22.5        74

[8547 rows x 3 columns]

In [25]:
import pandas as pd
import numpy as np


df7 = pd.read_csv("weathereport.csv.csv",usecols=["Timestamp","Temperature","Humidity"],index_col='Timestamp')
print(df7)

                     Temperature  Humidity
Timestamp
2014-10-01T00:01:13         23.4        80
2014-10-01T00:06:20         23.4        80
2014-10-01T00:11:28         23.4        80
2014-10-01T00:16:36         23.4        81
2014-10-01T00:21:43         23.4        81
...                          ...       ...
2014-10-31T23:37:04         22.5        74
2014-10-31T23:42:11         22.5        74
2014-10-31T23:47:19         22.5        74
2014-10-31T23:52:27         22.5        74
2014-10-31T23:57:34         22.5        74

[8547 rows x 2 columns]

In [6]:
import pandas as pd
import numpy as np


df3 = pd.read_excel("V2 Salesdata.xlsx")
print(df3)

    Unnamed: 0          Unnamed: 1
0          NaN                 NaN
1   Row Labels  Sum of Item amount
2          Jan               68250
3          Feb              307100
4          Mar              611300
5  Grand Total              986650

In [13]:
df4=df3.head(5)
df4

   Unnamed: 0          Unnamed: 1
0         NaN                 NaN
1  Row Labels  Sum of Item amount
2         Jan               68250
3         Feb              307100
4         Mar              611300